<!DOCTYPE html>
<html>
	<head>
		<include file="public:meta" />
		<link rel="stylesheet" href="../public/css/members.css">
	</head>
	<body>
        <include file="public:header" />
        <div class="split-block"></div>
        <form id="registerForm" method="post">
            <div class="loging-input-group">
                <div class="group-list mobile">
                    <div class="g-close"></div>
                    <input id="mobile" name="mobile" type="text" class="l-input j-l-input font14" placeholder="请输入手机号码" autocomplete="off" value="{$Think.get.mobile|default=''}">
                </div>
                <div class="group-list verfy">
                    <div class="g-close po-right"></div>
                    <input id="mobile_vcode" name="mobile_vcode" type="text" class="l-input j-l-input font14" placeholder="请输入手机验证码" autocomplete="off">
                    <a href="javascript:;" id="getVerfyCode" class="qs-btn qs-btn-inline qs-btn-medium qs-btn-border-gray font14">获取验证码</a>
                </div>
                <div class="group-list comname">
                    <input id="companyname" name="companyname" type="text" class="l-input j-l-input font14" placeholder="请输入公司全称" autocomplete="off" value="">
                </div>
                <div class="group-list contact">
                    <input id="contact" name="contact" type="text" class="l-input j-l-input font14" placeholder="请输入公司联系人" autocomplete="off" value="">
                </div>
                <if condition="C('qscms_register_password_open')">
                    <div class="group-list pwd">
                        <div class="g-close"></div>
                        <input id="password" name="password" type="password" class="l-input j-l-input font14" placeholder="请输入账户密码" autocomplete="off">
                    </div>
                    <div class="group-list pwd">
                        <div class="g-close"></div>
                        <input id="passwordVerify" name="passwordVerify" type="password" class="l-input j-l-input font14" placeholder="请确认账户密码" autocomplete="off">
                    </div>
                </if>
            </div>
            <div class="split-block"></div>
            <div class="btn-spacing"><a id="btnRegCompany" href="javascript:;" class="qs-btn qs-btn-blue font18">注册企业会员</a></div>
            <input name="utype" type="hidden" value="{$utype}">
            <input type="hidden" name="reg_type" value="1">
            <input type="hidden" id="doType" value="1">
            <div id="pop" style="display:none"></div>
            <input type="hidden" id="btnCheck">
            <input type="hidden" id="btnCheckReg">
            <input type="hidden" id="J_captcha_open" value="{:C('qscms_mobile_captcha_open')}" />
            <input type="hidden" id="J_captcha_open_mobile" value="{:C('qscms_wap_captcha_config.varify_mobile')}">
            <input type="hidden" name="geetest_challenge" class="J_gee_cha" value="">
            <input type="hidden" name="geetest_validate" class="J_gee_val" value="">
            <input type="hidden" name="geetest_seccode" class="J_gee_sec" value="">
        </form>
        <input type="hidden" id="h-landline1" value="">
        <input type="hidden" id="h-landline2" value="">
        <input type="hidden" id="h-landline3" value="">
				<include file="public:footer" />
        <include file="public:footer_min" />
        <script src="https://static.geetest.com/static/tools/gt.js"></script>
        <script src="../public/js/popWin.js"></script>
	</body>
    <script>

        // 图片验证码
        var verifyPhoto = false;

        // 图片验证码
        function verifyPhotoDialog() {
            var verifyCodePop = new QSpopout('请输入下图中的文字或字母');
            verifyCodePop.setContent([
                '<div class="dia-captcha-item">',
                '<img src="' + qscms.root + '?m=Home&c=captcha&a=captcha&t=' + (new Date()).getTime() + '" class="dia-captcha-img">',
                '<input type="text" name="captcha-solution" class="dia-captcha-solution font16" maxlength="10">',
                '</div>'
            ].join(''));
            verifyCodePop.setBtn(1);
            verifyCodePop.show();
            verifyCodePop.setClose(false);
            $('.dia-captcha-img').on('click', function() {
                $(this).attr('src', qscms.root + '?m=Home&c=captcha&a=captcha&t=' + (new Date()).getTime());
            });
            // 确定按钮事件
            verifyCodePop.getPrimaryBtn().on('click', function () {
                var currentPhotoVal = $.trim($('.dia-captcha-solution').val());
                if (currentPhotoVal.length) {
                    $.ajax({
                        url: qscms.root + '?m=Home&c=captcha&a=captchaCode',
                        cache: false,
                        async: false,
                        type: 'post',
                        dataType: 'json',
                        data: { postcaptcha: currentPhotoVal },
                        success: function(result) {
                            if (result.status) {
                                verifyCodePop.hide();
                                doAjax();
                            } else {
                                qsToast({type:2,context: '验证码输入错误'});
                                $('.dia-captcha-img').attr('src', qscms.root + '?m=Home&c=captcha&a=captcha&t=' + (new Date()).getTime());
                            }
                        }
                    });
                } else {
                    $('.dia-captcha-solution').focus();
                    qsToast({type:2,context: '请输入文字或字母'});
                }
            });
        }

        var regularMobile = /^13[0-9]{9}$|14[0-9]{9}$|15[0-9]{9}$|18[0-9]{9}$|17[0-9]{9}$/;
        var captcha_open = eval($('#J_captcha_open').val());
        var captcha_open_mobile = eval($('#J_captcha_open_mobile').val());
        /**
         * 发送手机验证码
         */
        $('#getVerfyCode').on('click', function () {
            if ($(this).hasClass('qs-btn-border-disabled')) return false;
            var mobileValue = $.trim($('input[name=mobile]').val());
            var unbindMobile = $.trim($('#unbind_mobile').val());
            if (mobileValue == '') {
                qsToast({type: 2, context: '请输入手机号码'});
                return false;
            }
            if (mobileValue != "" && !regularMobile.test(mobileValue)) {
                qsToast({type: 2, context: '手机号码格式不正确'});
                return false;
            }
            if (unbindMobile != '1' && !remoteValid('mobile', mobileValue)) {
                qsToast({type: 2, context: '该手机号已被注册'});
                return false;
            }
            if (captcha_open) {
                if (captcha_open_mobile) {
                    $('#doType').val('0'); // 标识为发送验证码
                    if (verifyPhoto) {
                        // 图片验证码
                        verifyPhotoDialog();
                    } else {
                        $('.geetest_panel').remove();
                        $.ajax({
                            url: qscms.root+'?m=Mobile&c=Captcha&type=mobile&t=' + (new Date()).getTime(),
                            type: 'get',
                            dataType: 'json',
                            success: function(config) {
                                initGeetest({
                                    gt: config.gt,
                                    challenge: config.challenge,
                                    offline: !config.success,
                                    new_captcha: config.new_captcha,
                                    product: 'bind'
                                }, function(captchaObj) {
                                    captchaObj.appendTo("#pop");
                                    captchaObj.onSuccess(function() {
                                        var captChaResult = captchaObj.getValidate();
                                        var mobileValue = $.trim($('input[name=mobile]').val());
                                        $.ajax({
                                            url: "{:U('Members/reg_send_sms')}",
                                            cache: false,
                                            async: false,
                                            type: 'post',
                                            dataType: 'json',
                                            data: { sms_type: 'reg', mobile: mobileValue ,geetest_challenge: captChaResult.geetest_challenge,geetest_validate: captChaResult.geetest_validate,geetest_seccode: captChaResult.geetest_seccode},
                                            success: function(result) {
                                                $('#pop').hide();
                                                qsToast({type:2,context: result.msg});
                                                if (result.status) {
                                                    // 开始倒计时
                                                    var countdown = 180;
                                                    function settime() {
                                                        if (countdown == 0) {
                                                            $('#getVerfyCode').removeClass('qs-btn-border-disabled');
                                                            $('#getVerfyCode').text('获取验证码');
                                                            countdown = 180;
                                                            return;
                                                        } else {
                                                            $('#getVerfyCode').addClass('qs-btn-border-disabled');
                                                            $('#getVerfyCode').text('重新发送' + countdown + '秒');
                                                            countdown--;
                                                        }
                                                        setTimeout(function() {
                                                            settime()
                                                        },1000)
                                                    }
                                                    settime();
                                                } else {
                                                    $('#pop').hide();
                                                    qsToast({type:2,context: result.msg});
                                                }
                                            }
                                        });
                                    })
                                    captchaObj.onReady(function () {
                                        captchaObj.verify();
                                    });
                                    $('#btnCheck').on('click', function () {
                                        captchaObj.verify();
                                    })
                                    window.captchaObj = captchaObj;
                                });
                            }
                        });
                    }
                } else {
                    sendVerfy();
                }
            } else {
                sendVerfy();
            }
        })

        /**
         * 发送手机验证码
         */
        function sendVerfy() {
            var mobileValue = $.trim($('input[name=mobile]').val());
            $.ajax({
                url: "{:U('Members/reg_send_sms')}",
                cache: false,
                async: false,
                type: 'post',
                dataType: 'json',
                data: { sms_type: 'reg', mobile: mobileValue},
                success: function(result) {
                    $('#pop').hide();
                    qsToast({type:2,context: result.msg});
                    if (result.status) {
                        // 开始倒计时
                        var countdown = 180;
                        function settime() {
                            if (countdown == 0) {
                                $('#getVerfyCode').removeClass('qs-btn-border-disabled');
                                $('#getVerfyCode').text('获取验证码');
                                countdown = 180;
                                return;
                            } else {
                                $('#getVerfyCode').addClass('qs-btn-border-disabled');
                                $('#getVerfyCode').text('重新发送' + countdown + '秒');
                                countdown--;
                            }
                            setTimeout(function() {
                                settime()
                            },1000)
                        }
                        settime();
                    } else {
                        $('#pop').hide();
                        qsToast({type:2,context: result.msg});
                    }
                }
            });
        }

        /**
         * 注册企业会员
         */
        $('#btnRegCompany').on('click',function(){
            var mobileValue = $.trim($('input[name=mobile]').val());
            var verifycodeValue = $.trim($('input[name=mobile_vcode]').val());
            var comnameValue = $.trim($('input[name="companyname"]').val());
            var contactValue = $.trim($('input[name="contact"]').val());
            if (mobileValue == '') {
                qsToast({type:2,context: '请输入手机号码'});
                return false;
            }
            if (mobileValue != "" && !regularMobile.test(mobileValue)) {
                qsToast({type:2,context: '手机号码格式不正确'});
                return false;
            }
            if (verifycodeValue == '') {
                qsToast({type:2,context: '请输入手机验证码'});
                return false;
            }
            if(!comnameValue){
                qsToast({type:2,context: '请填写公司名称'});
                return false;
            }
            if(!contactValue){
                qsToast({type:2,context: '请填写联系人'});
                return false;
            }
            <if condition="C('qscms_register_password_open')">
                var password = $.trim($('input[name=password]').val());
                var passwordVerify = $.trim($('input[name=passwordVerify]').val());
                if (password == '') {
                    qsToast({type:2,context: '请输入账户密码'});
                    return false;
                }
                if (passwordVerify == '') {
                    qsToast({type:2,context: '请输入确认密码'});
                    return false;
                }
                if(password.length<6 || password.length>16){
                    qsToast({type:2,context: '密码长度要求为6-16个字符'});
                    return false;
                }
                if(password != passwordVerify){
                    qsToast({type:2,context: '两次输入的密码不一致'});
                    return false;
                }
            </if>
            doAjax();
        });

        /**
         * ajax 提交注册信息
         */
        function doAjax() {
            var url = "{:U('members/register')}";
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: $('#registerForm').serialize(),
                success: function (data) {
                    if(data.status==1){
                        window.location.href = data.data.url;
                    }else{
                        qsToast({type:2,context: data.msg});
                    }
                }
            });
        }

        /**
         * 验证用户名等是否重复
         * @param validType 验证类型
         * @param validValue 值
         * @returns {boolean|*}
         */
        function remoteValid(validType, validValue){
            var result = false;
            $.ajax({
                url: "{:U('members/ajax_check')}",
                cache: false,
                async: false,
                type: 'post',
                dataType: 'json',
                data: { type: validType, param: validValue },
                success: function(json) {
                    if (json && json.status) {
                        result = true;
                    } else {
                        result = false;
                    }
                }
            });
            return result;
        }

        /**
         * 手机固话至少填写一项
         * @param mobileValue 手机号
         * @param landLineValue 固话号
         * @returns {boolean}
         */
        function lineMobileAchoice(mobileValue, landLineValue){
            var achoice = true;
            if (mobileValue == '' && landLineValue == '') {
                achoice = false;
            }
            return achoice;
        }

        /**
         * 验证固话->区号
         * @param value 区号
         * @returns {boolean}
         */
        function inputRegValiZone(value){
            var regularZone = /^[0-9]{3}[0-9]?$/;
            var achoice = true;
            if (value!= "" && !regularZone.test(value)) {
                achoice = false;
            }
            return achoice;
        }

        /**
         * 验证固话->电话
         * @param value 电话
         * @returns {boolean}
         */
        function inputRegValiTelNext(value){
            var regularZone = /^[0-9]{6,11}$/;
            var achoice = true;
            if (value!= "" && !regularZone.test(value)) {
                achoice = false;
            }
            return achoice;
        }

        /**
         * 验证固话->分机号
         * @param value 分机号
         * @returns {boolean}
         */
        function validNumber(value) {
            var regularNumber = /^-?(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/;
            var achoice = true;
            if (value!= "" && !regularNumber.test(value)) {
                achoice = false;
            }
            return achoice;
        }

        /**
         * 验证手机号
         * @param value 手机号
         * @returns {boolean}
         */
        function inputRegValiMobile(value){
            var regularMobile = /^13[0-9]{9}$|14[0-9]{9}$|15[0-9]{9}$|18[0-9]{9}$|17[0-9]{9}$/;
            var achoice = true;
            if (value!= "" && !regularMobile.test(value)) {
                achoice = false;
            }
            return achoice;
        }

        /**
         * 验证用户名
         * @param value 用户名
         * @returns {boolean}
         */
        function inputRegValiUsername(value){
            var regularUsername = /^(?=[\u4e00-\u9fa5a-zA-Z])(?!\d+)[\u4e00-\u9fa5\w.]{3,18}$/;
            var achoice = true;
            if (!regularUsername.test(value)) {
                achoice = false;
            }
            return achoice;
        }

        /**
         * 验证邮箱
         * @param value 邮箱
         * @returns {boolean}
         */
        function inputRegValiEmail(value){
            var regularEmail = /^[_\.0-9a-zA-Z-]+[_0-9a-zA-Z-]@([0-9a-zA-Z][0-9a-zA-Z-]+\.)+[a-zA-Z]{2,3}$/;
            var achoice = true;
            if (!regularEmail.test(value)) {
                achoice = false;
            }
            return achoice;
        }

        /**
         * 验证密码长度
         * @param value 密码
         * @returns {boolean}
         */
        function inputRegValiPassword(value){
            achoice = true;
            if(value.length>16 || value.length<6){
                achoice = false;
            }
            return achoice;
        }

        /**
         * 验证密码两次输入是否一致
         * @param password 第一次密码
         * @param passwordRepeat 第二次密码
         * @returns {boolean}
         */
        function inputRegValiPasswordRepeat(password,passwordRepeat){
            achoice = true;
            if(password!=passwordRepeat){
                achoice = false;
            }
            return achoice;
        }
    </script>
</html>