<!DOCTYPE html>
<html>
	<head>
		<include file="public:meta" />
		<link rel="stylesheet" href="../public/css/members.css">
	</head>
	<body>
		<include file="public:header" />
        <div class="set-success-tip-box qs-center">
            <div class="set-success-tip font16">密码重置成功！</div>
        </div>
        <div class="qs-center font13 txt-color-9 mt2">请牢记新密码，遇到使用问题请咨询客服人员。</div>
        <div class="qs-center font13 txt-color-9 mt2">客户服务热线：{:C('qscms_bootom_tel')}</div>
        <div class="btn-spacing mt10"><a href="{:U('members/login')}" class="qs-btn qs-btn-blue font18">立即登录</a></div>
	</body>
</html>