/* 触屏版首页 */
.indextop{position:relative;width:100%;height:3.7rem;background:url(../images/01.jpg) no-repeat;background-size:100%;overflow:hidden;}
.indextop .m-sub-txt-group{position:absolute;left:2.8rem;top:.55rem;color:#FFF;}
.indextop .m-sub-txt-group .stg-txt{height:.3rem;line-height:1;float:left;}
.indextop .m-sub-txt-group .stg-icon{width:.4rem;height:.3rem;background-image:url(../images/67.png);background-position:.1rem .08rem;background-repeat:no-repeat;background-size:.25rem;float:left;}
.indextop .logo{float:left;width:3rem;}
.indextop .logo img{max-width:1.90rem;max-height:.45rem;margin-left:.5rem;margin-top:.5rem;}
.indextop .user{float:right;}
.indextop .user img{width:.55rem;margin-right:.5rem;margin-top:.5rem;}
.indextop .count li{width:100%;text-align:center;padding-top:.2rem;font-size:.44rem;height:1.30rem;font-weight:700;color:#FFFFFF;-webkit-transition:-webkit-transform .8s;transition:-webkit-transform .8s;transition:transform .8s;transition:transform .8s,-webkit-transform .8s;}
.indextop .count li strong{color:#FF3333}
.indextop .sbox{width:80%;height:.8rem;line-height:.8rem;background-color:#FFFFFF;border-radius:.1rem;font-size:.3rem;margin:0 auto;box-shadow:0rem 0rem .2rem .01rem #000000;background-size:.4rem;background-image:url(../images/04.png);background-repeat:no-repeat;background-position:.9rem .18rem;color:#999999;padding-left:18.5%;}
.indexnav{width:100%;background-color:#FFFFFF;padding-top:.36rem;padding-bottom:.15rem}
.indexnav .nlist{width:25%;float:left;text-align:center;padding-bottom:.3rem;}
.indexnav .nlist img{width:1.1rem;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
.indexnav .nlist.eventactive img{transform:scale(1.2,1.2);transition:.2s transform;}
.indexnav .nlist .tit{padding-top:.12rem;color:#666666;}
.indexnotice{width:100%;background-color:#FFFFFF;height:.9rem;line-height:.9rem;border-top:1px  #F2F2F2 solid;overflow:hidden;}
.indexnotice .leftimg{width:1.3rem;float:left;padding-left:.35rem;height:.9rem;}
.indexnotice .leftimg img{width:.6rem;padding-top:.23rem;}
.indexnotice .txt{float:left;color:#999999;width:80%;}
.indexnotice .txt li{width:100%;height:.90rem;line-height:.90rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.indexhot{background-color:#FFFFFF;padding-bottom:.3rem}
.indexhot .hottitle{height:.9rem;border-bottom:1px  #F2F2F2 solid;background-image:url(../images/10.png);background-repeat:no-repeat;background-position:.35rem .23rem;padding-left:.9rem;background-size:.40rem;line-height:.9rem;font-weight:700}
.indexhot a.hotword{width:20%;margin-left:2.5%;margin-right:2.5%;float:left;text-align:center;height:.7rem;line-height:.7rem;background-color:#F9F9F9;border-radius:.1rem;margin-top:.3rem;display:block;}
.indexhot a.hotword.eventactive{background-color:#EBEBEB}
.indexcat{background-color:#FFFFFF;padding-bottom:.3rem}
.indexcat .cattitle{height:.9rem;line-height:.9rem;border-bottom:1px  #F2F2F2 solid;background-repeat:no-repeat;padding-left:.9rem;background-size:.40rem;background-position:.35rem .22rem;font-weight:700;background-image:url(../images/12.png);background-position:.35rem .23rem;}
.indexcat .cattitle.img1{background-image:url(../images/12.png);}
.indexcat .cattitle.img2{background-image:url(../images/13.png);}
.indexcat .cattitle.img3{background-image:url(../images/14.png);}
.indexcat .cattitle.img4{background-image:url(../images/15.png);}
.indexcat .cattitle.img5{background-image:url(../images/16.png);}
.indexcat .cattitle.img6{background-image:url(../images/17.png);}
.indexcat .cattitle.img7{background-image:url(../images/18.png);}
.indexcat .cattitle.img8{background-image:url(../images/19.png);}
.indexcat .cattitle.img9{background-image:url(../images/20.png);}
.indexcat .cattitle.img10{background-image:url(../images/21.png);}
.indexcat a.catword{width:28.33333333%;margin-left:2.5%;margin-right:2.5%;float:left;text-align:center;height:.7rem;line-height:.7rem;background-color:#F9F9F9;border-radius:.1rem;margin-top:.3rem;padding-left:1%;padding-right:1%;display:block;}
.indexcat a.catword.eventactive{background-color:#EBEBEB}

/* 新更多 样式 */
.index-slider .hwslider{position:relative;overflow:hidden;height:3.25rem;background:#fff;border-bottom:1px #F2F2F2 solid;}
.index-slider .hwslider ul{width:100%;height:100%;position:absolute;z-index:1}
.index-slider .hwslider ul li{display:none;position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;}
.s-img{width:7.5rem;height:3.25rem;border:0;}
.index-slider .hwslider ul li.active{display:block;}
.index-slider .hwslider ul li a{width:25%;display:block;float:left;text-align:center;text-decoration:none;}
.index-slider .hwslider ul dl{margin:0;}
.index-slider .hwslider ul dl dt{width:.9rem;height:.9rem;border-radius:50%;display:inline-block;background-repeat:no-repeat;background-size:.9rem .9rem;}
.index-slider .hwslider ul dl dt.job{background-image:url(../images/06.png);}
.index-slider .hwslider ul dl dt.resume{background-image:url(../images/07.png);}
.index-slider .hwslider ul dl dt.fabu{background-image:url(../images/08.png);}
.index-slider .hwslider ul dl dt.shop{background-image:url(../images/217.png);}
.index-slider .hwslider ul dl dt.zhaoph{background-image:url(../images/218.png);}
.index-slider .hwslider ul dl dt.news{background-image:url(../images/219.png);}
.index-slider .hwslider ul dl dd{color:#555;margin:0;padding:0;border:0;}
.index-slider .hwslider ul dl dt.eventactive{transform:scale(1.2,1.2);transition:.2s transform;}
.index-slider .hwslider .dots{position:absolute;bottom:.1rem;left:50%;height:.24rem;z-index:2;-webkit-transform:translate(-50%,0);transform:translate(-50%,0);}
.index-slider .hwslider .dots span{float:left;width:.14rem;height:.14rem;border:1px solid #fff;border-radius:50%;background:#999;margin-right:.08rem;cursor:pointer;}
.index-slider .hwslider .dots span.active{background:orangered}
.index-slider .hwslider .dots span:last-child{margin-right:0;}
.index-slider .hwslider-count{height:1.30rem;background:none;border:0;}

/* 分站筛选页面 - simple */
.m-sub-filter-page{position:fixed;height:100%;width:100%;max-width:7.5rem;background-color:#FFF;z-index:999999;display:none;}
.m-sub-filter-page .msp-head{padding-left:.25rem;height:1.08rem;padding-top:.18rem;background:#f6f6f6;border-bottom:1px solid #d5d5d5;}
.m-sub-filter-page .msp-head .msp-input-group{width:6rem;height:.7rem;float:left;border:1px solid #d5d5d5;-webkit-border-radius:.08rem;-moz-border-radius:.08rem;border-radius:.08rem;background:#FFF;}
.m-sub-filter-page .msp-head .msp-input-group .msg-icon-ser{width:.75rem;height:.7rem;float:left;background-image:url(../images/237.png);background-position:.20rem .18rem;background-repeat:no-repeat;background-size:.35rem .36rem;}
.m-sub-filter-page .msp-head .msp-input-group .msg-input-ser{display:block;float:left;width:5.2rem;height:.6rem;margin-top:.05rem;line-height:.6rem;-webkit-border-radius:.08rem;-moz-border-radius:.08rem;border-radius:.08rem;border:0;}
.m-sub-filter-page .msp-head .msp-cancel-btn{width:1.16rem;height:.7rem;line-height:.7rem;text-align:center;color:#0180cf;float:left;}
.m-sub-filter-page .m-sub-head-tip{width:100%;height:.82rem;line-height:.82rem;padding-left:.25rem;background:#f0f2f5;color:#666;}
.m-sub-filter-page .m-sub-city-head{width:100%;height:1.02rem;line-height:1.02rem;padding-left:.25rem;background:#FFF;color:#333;}
.m-sub-filter-page .m-sub-city-head.t-center{text-align:center;}
.m-sub-filter-page .m-sub-city-head a{padding:0 .22rem;}
.m-sub-filter-page .m-sub-city-head span{border-left:1px solid #f3f3f3;padding:0 .5rem;float:right;}
.m-sub-filter-page .m-sub-city-group{padding:0 .15rem;background:#FFF;max-height:8.1rem;overflow-y:auto;overflow-x:hidden;}
.m-sub-filter-page .m-sub-city-group .m-sub-city-box{display:block;width:2.4rem;padding:0 .1rem;height:.7rem;float:left;margin-bottom:.2rem;}
.m-sub-filter-page .m-sub-city-group .m-sub-city-box .m-sub-city-cell{line-height:.7rem;text-align:center;background:#f7f7f7;-webkit-border-radius:.03rem;-moz-border-radius:.03rem;border-radius:.03rem;display:block;text-decoration:none;color:#666;}
.m-sub-filter-page .m-sub-city-group .m-sub-city-box.h{display:none;}
.m-sub-filter-page .m-sub-city-no-data{display:none;padding:1rem 0;background:#FFF;text-align:center;}
.m-sub-filter-page .sub-no-data-cell{width:3.8rem;line-height:200%;display:inline-block;color:#999;}
.m-sub-filter-page.no-data .m-sub-city-head{display:none;}
.m-sub-filter-page.no-data .m-sub-city-group{display:none;}
.m-sub-filter-page.no-head .m-sub-city-group{padding-top:.2rem;}
.m-sub-filter-page.no-head .m-sub-city-head{display:none;}
.m-sub-filter-page.no-data .m-sub-city-no-data{display:block;}

/* 分站筛选页面 - complex */
.m-sub-filter-page-complex{position:fixed;height:100%;width:100%;max-width:7.5rem;background-color:#FFF;z-index:999999;display:none;}
.m-sub-filter-page-complex .msp-head{padding-left:.25rem;padding-top:.3rem;padding-bottom:.3rem;background:#f6f6f6;border-bottom:1px solid #d5d5d5;}
.m-sub-filter-page-complex .msp-head .msp-input-group{width:6rem;height:.9rem;float:left;border:1px solid #d5d5d5;-webkit-border-radius:.08rem;-moz-border-radius:.08rem;border-radius:.08rem;background:#FFF;position:relative;}
.m-sub-filter-page-complex .msp-head .msp-input-group .suo-close{display:none;position:absolute;top:50%;right:.3rem;width:.4rem;height:.4rem;overflow:hidden;background:url(../images/45.png) .01rem 0 no-repeat;background-size:.39rem;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);}
.m-sub-filter-page-complex .msp-head .msp-input-group.has-inp .suo-close{display:block;}
.m-sub-filter-page-complex .msp-head .msp-input-group .msg-icon-ser{width:.75rem;height:.9rem;float:left;background-image:url(../images/237.png);background-position:.20rem .25rem;background-repeat:no-repeat;background-size:.35rem .36rem;}
.m-sub-filter-page-complex .msp-head .msp-input-group .msg-input-ser{display:block;float:left;width:5.2rem;height:.8rem;margin-top:.05rem;-webkit-border-radius:.08rem;-moz-border-radius:.08rem;border-radius:.08rem;border:0;}
.m-sub-filter-page-complex .msp-head .msp-cancel-btn{width:1.16rem;height:.9rem;line-height:.9rem;text-align:center;color:#0180cf;float:left;}
.m-sub-filter-page-complex .m-sub-head-tip{width:100%;height:.82rem;line-height:.82rem;padding-left:.25rem;background:#f0f2f5;color:#666;text-align: left;}
.m-sub-filter-page-complex .m-sub-city-head{width:100%;height:1.02rem;line-height:1.02rem;padding-left:.25rem;background:#FFF;color:#333;text-align: left;}
.m-sub-filter-page-complex .m-sub-city-head.t-center{text-align:center;}
.m-sub-filter-page-complex .m-sub-city-head a{padding:0 .22rem;}
.m-sub-filter-page-complex .m-sub-city-head span{border-left:1px solid #f3f3f3;padding:0 .5rem;float:right;}
.m-sub-filter-page-complex .m-sub-city-group{padding:0 .15rem;background:#FFF;}
.m-sub-filter-page-complex .m-sub-city-group .m-sub-city-box{display:block;width:2.4rem;padding:0 .1rem;height:.7rem;float:left;margin-bottom:.2rem;}
.m-sub-filter-page-complex .m-sub-city-group .m-sub-city-box .m-sub-city-cell{line-height:.7rem;text-align:center;background:#f7f7f7;-webkit-border-radius:.03rem;-moz-border-radius:.03rem;border-radius:.03rem;display:block;text-decoration:none;color:#666;}
.m-sub-filter-page-complex .m-sub-city-group .m-sub-city-box.h{display:none;}
.m-sub-filter-page-complex .m-sub-city-no-data{display:none;padding:1rem 0;background:#FFF;text-align:center;}
.m-sub-filter-page-complex .sub-no-data-cell{width:3.8rem;line-height:200%;display:inline-block;color:#999;}
.m-sub-filter-page-complex.no-data .m-sub-city-head{display:none;}
.m-sub-filter-page-complex.no-data .m-sub-city-group{display:none;}
.m-sub-filter-page-complex.no-head .m-sub-city-group{padding-top:.2rem;}
.m-sub-filter-page-complex.no-head .m-sub-city-head{display:none;}
.m-sub-filter-page-complex.no-data .m-sub-city-no-data{display:block;}
.m-sub-filter-page-complex .m-sub-city-group .title{border-bottom:1px solid #f0f2f5;height:1rem;text-align: left;}
.m-sub-filter-page-complex .m-sub-city-group .title.city-word{border-bottom:1px solid #f0f2f5;height:1rem;margin-bottom:.2rem;}
.m-sub-filter-page-complex .m-sub-city-group .title.city-word .img{color:#fff;background-color:#0180cf;width:.38rem;height:.38rem;line-height:.38rem;border-radius:50%;display:inline-block;text-align:center;}
.m-sub-filter-page-complex .m-sub-city-group .title .title-img{background-image:url(../images/242.png);background-size:.4rem;background-repeat:no-repeat;width:.4rem;height:.4rem;padding-bottom:.1rem;padding-left:.5rem;}
.m-sub-filter-page-complex .m-sub-city-group .word-ul{padding:.26rem 0;}
.m-sub-filter-page-complex .m-sub-city-group .word-ul .word-li{display:block;text-decoration:none;color:#666;float:left;border-right:1px solid #f3f3f3;width:1.2rem;text-align:center;margin-top:.1rem;}
.m-sub-filter-page-complex .m-sub-city-group .word-ul .word-li:nth-last-child(2){border-right:none;}
.city-box{max-height:8.1rem;overflow-y:auto;overflow-x:hidden;}
.m-sub-split-block{width:100%;height:.25rem;background:#f0f2f5;}
.search_subsite_ajax{background-color:#FFF;display:none;width:100%;position:absolute;border:none;z-index:0;left:0;}
.search_subsite_ajax ul{width:100%;}
.search_subsite_ajax ul li{color:#374565;height:44px;line-height:44px;padding:0 15px;border-bottom:1px solid #ececec;display:block;word-break:break-all;}
.search_subsite_ajax ul li a{width:100%;height:auto;display:inline-block;text-decoration:none;}
.search_subsite_ajax ul li span:first-child{font-size:16px;color:#374565;font-weight:700;padding-right:22px;}
.search_subsite_ajax ul li span.searchFont{color:#999;padding-right:0;font-weight:400;}

/*首页新头部*/
.new-index-top{position:relative;width:7.5rem;overflow:hidden;}
.new-index-top .ni-head{background-color:#0180CF;height:.9rem;line-height:.9rem;color:#FFFFFF;width:7.5rem;}
.ni-head .nih-l{float:left;padding-left:.5rem;color:#FFF;}
.ni-head .logo{float:left;height:.9rem;overflow:hidden;}
.ni-head .logo img{width:2rem;margin-left:.5rem;margin-top:.23rem;}
.ni-head .m-sub-txt-group{float:left;padding-left:.3rem;color:#FFF;}
.ni-head .m-sub-txt-group .stg-txt{height:.9rem;line-height:.9rem;float:left;}
.ni-head .m-sub-txt-group .stg-icon{width:.5rem;height:.4rem;background-image:url(../images/252.png);background-repeat:no-repeat;background-size:.35rem;margin-top:.27rem;float:left;}
.ni-head .ni-user{position:absolute;right:0;top:0;height:.9rem;}
.ni-head .ni-user img{width:.45rem;margin-right:.3rem;margin-top:.25rem;}
.ni-search-g{width:7.5rem;padding-top:.3rem;padding-bottom:.3rem;text-align:center;background:#FFF;}
.ni-search-g .nis-box{position:relative;display:inline-block;width:6.52rem;height:.9rem;line-height:.9rem;padding-left:.9rem;background:#FFF;-webkit-border-radius:.1rem;-moz-border-radius:.1rem;border-radius:.1rem;border:1px solid rgba(188,187,187,0.4);color:#999;text-align:left;}
.ni-search-g .nis-box .nis-s-icon{position:absolute;top:.28rem;left:.3rem;width:.4rem;height:.4rem;background-image:url(../images/251.png);background-repeat:no-repeat;background-size:.4rem .4rem;}
.new-index-top .ni-head.sub{position:relative;text-align:center;}
.ni-head.sub .nih-l{display:inline-block;color:#FFF;float:none;}
.ni-head.sub .logo{display:inline-block;height:.9rem;overflow:hidden;float:none;}
.ni-head.sub .m-sub-txt-group{position:absolute;left:0;top:0;color:#FFF;}
.ni-head.sub .ni-user{position:absolute;right:0;top:0;height:.9rem;}
.ni-head.sub .ni-user a,.ni-head .ni-user a{position:relative;float:left}
.ni-head.sub .ni-user a span,.ni-head .ni-user a span{display:none;position:absolute;top:.1rem;right:.1rem;width:.2rem;height:.2rem;border-radius:100%;background:#ff0000;}

/*首页红包*/
.index-alw{background-color:#FFFFFF;}
.index-alw .alw-title{border-bottom:1px #F2F2F2 solid;padding-right:.23rem;height:.9rem;line-height:.9rem;}
.index-alw .alw-title .alw-t{float:left;background-image:url(../images/270.png);background-repeat:no-repeat;background-position:.35rem .25rem;padding-left:.9rem;background-size:.32rem .39rem;font-weight:700;}
.index-alw .alw-title .alw-link{float:right;}
.index-alw .alw-group{padding-top:.30rem;padding-left:.35rem;}
.alw-group .alw-cell{float:left;width:3.25rem;margin-bottom:.30rem;margin-right:.30rem;}
.alw-cell .ac-h{color:#FFF;height:.62rem;line-height:.64rem;background:#f9565e;padding:0 .22rem;border-top-left-radius:.1rem;border-top-right-radius:.1rem;}
.alw-cell .ac-h .ach-l{float:left;}
.alw-cell .ac-h .ach-r{float:right;}
.alw-cell .ac-wave{width:3.25rem;height:.02rem;background-image:url(../images/271.png);background-repeat:no-repeat;background-size:3.25rem .02rem;}
.alw-cell .ac-ten{width:3.25rem;height:1.21rem;border:1px solid #f1f1f1;border-top:0;border-bottom-left-radius:.1rem;border-bottom-right-radius:.1rem;}
.alw-cell .ac-ten .act-line{padding-left:.16rem;width:3.25rem;line-height:1;}
.sp-h-19{width:100%;height:.19rem;}
.sp-h-25{width:100%;height:.25rem;}
.vip-box .vip-head{width:7.5rem;padding-top:.3rem;padding-bottom:.3rem;text-align:center;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
.vip-box .vip-head .con{display:inline-block;-webkit-border-radius:.3rem;-moz-border-radius:.3rem;border-radius:.3rem;width:2.55rem;height:.6rem;line-height:.6rem;background:-moz-linear-gradient(left,#ff7701,#ff4228);background:-webkit-linear-gradient(left,#ff7701,#ff4228);background:-o-linear-gradient(left,#ff7701,#ff4228);background:linear-gradient(left,#ff7701,#ff4228);color:#FFF;text-align:center;}
.vip-box .vip-head .con .icon{display:inline-block;background-image:url(../images/250.png);background-repeat:no-repeat;background-size:.32rem .3rem;background-position:0 50%;padding-left:.4rem;}
.vip-group{width:7.5rem;background:#FFF;}
.vip-group .vip-cell{float:left;width:2.5rem;height:2.5rem;text-align:center;border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;padding-top:.38rem;}
.vip-group .vip-cell .img{display:inline-block;width:1rem;height:1rem;line-height:1rem;}
.vip-group .vip-cell .img img{max-width:1rem;max-height:1rem;border:0;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.vip-group .vip-cell .v-txt{padding-top:.38rem;color:#555;line-height:1;}
.vip-group .vip-cell:nth-child(3){border-right:0;}
.middle-ad{width:7.5rem;padding:.2rem .15rem 0;}
.middle-ad .mad-cell{float:left;width:3.5rem;height:1.65rem;-webkit-border-radius:.2rem;-moz-border-radius:.2rem;border-radius:.2rem;margin-right:.2rem;margin-bottom:.2rem;}
.mad-cell:nth-child(2){margin-right:0;}
.middle-ad .mad-cell img{width:3.5rem;height:1.65rem;border:0;}
.resume-box .resume-head{width:7.5rem;padding-top:.3rem;padding-bottom:.3rem;text-align:center;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
.resume-box .resume-head .con{display:inline-block;-webkit-border-radius:.3rem;-moz-border-radius:.3rem;border-radius:.3rem;width:2.55rem;height:.6rem;line-height:.6rem;background:-moz-linear-gradient(left,#01d5ff,#2975ff);background:-webkit-linear-gradient(left,#01d5ff,#2975ff);background:-o-linear-gradient(left,#01d5ff,#2975ff);background:linear-gradient(left,#01d5ff,#2975ff);color:#FFF;text-align:center;}
.resume-box .resume-head .con .icon{display:inline-block;background-image:url(../images/284.png);background-repeat:no-repeat;background-size:.32rem .3rem;background-position:0 50%;padding-left:.4rem;}
.resume-group{background:#FFF;}
.list-box{width:7.5rem;}
.list-box .list-cell{width:25%;float:left;text-align:center;padding-top:.38rem;}
.list-box .list-cell .img{display:inline-block;width:1.23rem;height:1.23rem;}
.list-box .list-cell .img img{width:1.23rem;height:1.23rem;border:0;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.list-box .list-cell .r-name{padding-top:.3rem;line-height:1;}
.resume-group .r-more{padding-top:.52rem;padding-bottom:.37rem;text-align:center;}
.resume-group .r-more .rm{display:inline-block;-webkit-border-radius:.3rem;-moz-border-radius:.3rem;border-radius:.3rem;border:1px solid #257fff;color:#277aff;padding:.1rem .4rem;text-decoration:none;}
.job-box .job-head{width:7.5rem;padding-top:.3rem;padding-bottom:.3rem;text-align:center;border-top:1px solid #e7e7e7;}
.job-box .job-head .con{display:inline-block;-webkit-border-radius:.3rem;-moz-border-radius:.3rem;border-radius:.3rem;width:2.55rem;height:.6rem;line-height:.6rem;background:-moz-linear-gradient(left,#ff6d16,#ff0100);background:-webkit-linear-gradient(left,#ff6d16,#ff0100);background:-o-linear-gradient(left,#ff6d16,#ff0100);background:linear-gradient(left,#ff6d16,#ff0100);color:#FFF;text-align:center;}
.job-box .job-head .con .icon{display:inline-block;background-image:url(../images/285.png);background-repeat:no-repeat;background-size:.32rem .3rem;background-position:0 50%;padding-left:.4rem;}
.job-list-item{background:#ffffff;width:100%;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;margin-bottom:.25rem;}
.job-list-item:last-child{margin-bottom:0;}
.job-list-item.eventactive{background-color:#F9F9F9;}
.job-list-item{padding:.33rem 5% .2rem;position:relative;}
.job-list-item .line-one{height:.6rem;line-height:.6rem;}
.job-list-item .line-one .job-name{color:#ff4129;}
.job-list-item .line-one .adr{color:#b7b7b7;}
.job-list-item .line-two{height:.6rem;line-height:.6rem;color:#646464;}
.job-list-item .line-three{height:.8rem;padding-top:.15rem;}
.job-list-item .line-three .job-tag{float:left;line-height:1;padding:.1rem .2rem;-webkit-border-radius:.3rem;-moz-border-radius:.3rem;border-radius:.3rem;margin-right:.15rem;}
.job-list-item .line-three .job-tag:last-child{margin-right:0;}
.job-list-item .line-three .job-tag.tg1{background:#daf2fe;color:#30a2c8;}
.job-list-item .line-three .job-tag.tg2{background:#fef5da;color:#ea994e;}
.job-list-item .line-three .job-tag.tg3{background:#e4fcdc;color:#76af58;}
.job-list-item .line-three .job-tag.tg4{background:#ebebeb;color:#868686;}
.job-list-item .wage{position:absolute;right:.2rem;top:40%;color:#ff4129;}
.job-more{padding:.35rem 0;text-align:center;background:#FFF;border-bottom:1px solid #e7e7e7;}
.job-more .rm{display:inline-block;-webkit-border-radius:.3rem;-moz-border-radius:.3rem;border-radius:.3rem;border:1px solid #ff380b;color:#ff380b;padding:.1rem .4rem;text-decoration:none;}
.ic-group{padding-top:.25rem;width:7.5rem;background:#FFF;}
.ic-line .ic-cell{float:left;width:1.875rem;text-align:center;margin-bottom:.3rem;}
.ic-cell .ic-img{display:inline-block;width:1rem;height:1rem;}
.ic-cell .ic-img img{width:1rem;height:1rem;border:0;}
.ic-cell .ic-text{line-height:1;padding-top:.1rem;}
.ic-line.ic3 .ic-cell{width:2.5rem;}
.ic-line.ic2 .ic-cell{width:3.75rem;}