/**
 * 个人会员中心
 **/

/* 个人会员中心 首页 */
.perindextop{width:100%;height:4.3rem;background:linear-gradient(225deg,#4fa7de,#0180cf);position:relative;padding-top:.8rem;}
.perindextop .return{position:absolute;left:0rem;top:0rem;width:1.2rem;height:1.2rem;background-image:url(../images/22.png);background-repeat:no-repeat;-webkit-background-size:25px;background-size:25%;background-position:center;line-height:100%;}
.perindextop .return.eventactive{background-color:#0381CF;}
.perindextop .msg{text-align:center;color:#fff;line-height:1.2rem;position:absolute;right:0rem;top:0rem;float:right;width:1.2rem;height:1.2rem;background-image:url(../images/98.png);background-repeat:no-repeat;background-size:40%;background-position:center;}
.perindextop .msg.eventactive{background-color:#0381CF;}
.perindextop .pic{width:1.8rem;height:1.8rem;margin:0 auto;}
.perindextop .pic img{width:1.8rem;height:1.8rem;border-radius:1.8rem;border:.05rem #71B7E4 solid;}
.perindextop .txt{color:#FFFFFF;line-height:190%;text-align:center;padding-top:.15rem;}
.perindex_count{height:1.65rem;width:100%;background-color:#FFFFFF}
.perindex_count .clist{width:33.33333%;height:100%;float:left;}
.perindex_count .clist.eventactive{background-color:#EEEEEE;}
.perindex_count .content{border-right:1px #E4E4E4 solid;height:1rem;text-align:center;line-height:160%;margin-top:.3rem;}
.perindex_count .content.last{border-right:0px;}
.perbtnx4{background-color:#FFFFFF}
.perbtnx4 .btns{width:85%;margin:0 auto;padding-top:.5rem;}
.perbtnx4 .btns .cli{float:left;width:38%;padding-left:.8rem;height:.9rem;line-height:.9rem;margin-left:6%;margin-right:6%;color:#FFFFFF;margin-bottom:.5rem;border-radius:.15rem;background-size:.35rem;background-position:.35rem center;background-repeat:no-repeat}
.perbtnx4 .btns .cli.t1{background-image:url(../images/30.png);background-color:#FFA345}
.perbtnx4 .btns .cli.t2{background-image:url(../images/27.png);background-color:#3999D4}
.perbtnx4 .btns .cli.t3{background-image:url(../images/28.png);background-color:#55A345;}
.perbtnx4 .btns .cli.t4{background-image:url(../images/29.png);background-color:#DC5842;}

/*我的积分*/
.mygold{background-color:#FFFFFF;padding-bottom:.3rem}
.mygold .eattitle{border-bottom:1px  #F2F2F2 solid;padding-left:.84rem;/* padding-right:.3rem;*/font-weight:700;position:relative;background-image:url("../images/31.png");background-repeat:no-repeat;background-size:.4rem;background-position:.3rem center;}
.mygold .eattitle.eventactive{background-color:#EEEEEE;}
.mygold .eattitle .point{position:absolute;right:0.65rem;top:0rem;font-weight:700;}
.mygold .eattitle .more{position:absolute;width:.65rem;height:100%;right:0rem;top:0rem;background-image:url("../images/40.png");background-repeat:no-repeat;background-size:.24rem;background-position:.1rem center;}
.mygold .btns{width:90%;margin:0 auto;padding-top:.2rem;}
.mygold .btns .cli{float:left;width:25%;text-align:center;}
.mygold .btns .cli .pic{width:.75rem;background-size:.75rem;height:.75rem;margin:0 auto;background-repeat:no-repeat;position:relative}
.mygold .btns .cli .pic .redtip{position:absolute;width:.15rem;height:.15rem;border:.03rem #FFFFFF solid;border-radius:.15rem;background-color:#FF0000;right:.036rem;top:.036rem}
.mygold .btns .cli.eventactive .pic{transform:scale(1.2,1.2);transition:.2s transform;}
.mygold .btns .cli .pic.t1{background-image:url(../images/99.png);}
.mygold .btns .cli .pic.t2{background-image:url(../images/100.png);}
.mygold .btns .cli .pic.t3{background-image:url(../images/205.png);}
.mygold .btns .cli .pic.t4{background-image:url(../images/102.png);}
.mygold .btns .cli .txt{padding-top:.16rem;}
.plist-img .pic.t1{background-image:url(../images/103.png);}
.plist-img .pic.t2{background-image:url(../images/104.png);}
.plist-img .pic.t3{background-image:url(../images/105.png);}
.plist-img .pic.t4{background-image:url(../images/37.png);}
.plist-img .pic.t5{background-image:url(../images/38.png);}
.plist-img .pic.t-alw{background-image:url(../images/260.png);background-size: .3rem .35rem;background-position: .35rem center;}
.loginout{text-align:center;color:#FF0000;background-color:#FFFFFF}
.loginout.eventactive{background-color:#EEEEEE;}

/*个人基本信息*/
.not-null{padding-left:.1rem;color:red;vertical-align:middle;display:inline;}

/*会员服务 - 我的积分*/
.my-points-top{width:100%;height:2.7rem;padding:.8rem .45rem;background-image:url(../images/48.jpg);}
.my-points-top div{float:left;}
.my-points-top .icon{width:1rem;}
.my-points-top .icon img{width:1rem;height:1rem;}
.my-points-top .text{width:3.35rem;color:#fff;line-height:.5rem;padding-left:.2rem;}
.my-points-top .text a{text-decoration:none;color:#fff;}
.my-points-top .btn{width:2.25rem;}
.my-points-top .btn .points-add{margin-top:.15rem;width:1.8rem;line-height:.7rem;border-radius:.1rem;text-align:center;color:#ff6600;background-color:#ffffff;}
.my-points-explain{height:2.8rem;}
.my-points-explain .text{padding:.2rem .3rem;line-height:.5rem;}
.my-points-center-btn .pic.t1{background-image:url(../images/56.png);}
.my-points-use{height:1.9rem;line-height:1.9rem;}
.my-points-use .pic.t1{width:1.6rem;background-image:url(../images/155.png);background-size:1.1rem;border-bottom:1px  #F2F2F2 solid;}
.my-points-use .pic.t2{width:1.6rem;background-image:url(../images/156.png);background-size:1.1rem;border-bottom:1px  #F2F2F2 solid;}
.my-points-use .pic.t3{width:1.6rem;background-image:url(../images/50.png);background-size:1.1rem;border-bottom:1px  #F2F2F2 solid;}
.my-points-use.last .pic{border-bottom:0;}
.my-points-use .tit{width:4rem;line-height:.5rem;padding:.45rem 0;font-weight:normal;}
.my-points-use .tit .text1{height:.5rem;line-height:.5rem;}
.my-points-use .tit .text2{height:.5rem;line-height:.5rem;}
.my-points-use .describe{width:1.9rem;padding:.7rem 0;line-height:.58rem;}
.my-points-use .describe .btn{width:1.6rem;border:2px solid #0180CF;height:.64rem;text-align:center;border-radius:5px;}

/*我的任务*/
.task-line{width:100%;background-color:#fff;height:1.9rem;}
.task-line .line-wrap{float:left;}
.task-line .pic{width:.85rem;height:.85rem;margin:.5rem .25rem;background-size:.85rem;}
.task-line .pic.reg{background-image:url(../images/144.png);}
.task-line .pic.user_info{background-image:url(../images/141.png);}
.task-line .pic.sign{background-image:url(../images/136.png);}
.task-line .pic.submit_resume{background-image:url(../images/151.png);}
.task-line .pic.upload_avatar{background-image:url(../images/139.png);}
.task-line .pic.refresh_resume{background-image:url(../images/152.png);}
.task-line .pic.verified_mobile{background-image:url(../images/138.png);}
.task-line .pic.binding_weibo{background-image:url(../images/134.png);}
.task-line .pic.binding_qq{background-image:url(../images/132.png);}
.task-line .pic.binding_taobao{background-image:url(../images/133.png);}
.task-line .pic.complete_90{background-image:url(../images/154.png);}
.task-line .pic.complete_60{background-image:url(../images/153.png);}
.task-line .pic.report_jobs{background-image:url(../images/137.png);}
.task-line .pic.invitation_reg{background-image:url(../images/150.png);}
.task-line .pic.binding_weixin{background-image:url(../images/149.png);}
.task-line .pic.verified_email{background-image:url(../images/148.png);}
.task-line .txt{width:3.7rem;margin:.35rem 0;}
.task-line .txt .t1{height:.55rem;line-height:.55rem;}
.task-line .txt .t2{height:.55rem;line-height:.55rem;}
.task-line .btn{width:2.4rem;margin:.5rem 0;}
.task-line .btn .upload{background-color:#0180CF;color:#fff;width:2.2rem;height:.9rem;text-align:center;line-height:.9rem;border-radius:10px;}
.task-line .btn.done{position:relative;margin:0;}
.task-line .btn .ico{margin-left:.54rem;width:1.64rem;height:1.4rem;background-image:url(../images/60.png);background-size:1.64rem;}

/*积分详情*/
.points-detail{background-color:#fff;}
.points-detail .points-detail-top{width:100%;height:3.7rem;padding:.7rem .98rem;}
.points-detail .points-detail-top .circle{color:#0180CF;border:2px solid #0180CF;width:2.26rem;height:2.26rem;float:left;border-radius:50%;padding:.64rem 0;}
.points-detail .points-detail-top .circle .t1{text-align:center;}
.points-detail .points-detail-top .circle .t2{text-align:center;margin-top:.1rem;}
.points-detail .points-detail-top .circle.right{margin-left:.9rem;}
.points-detail .points-detail-top .circle.active{background-color:#0180CF;color:#fff;}
.points-detail .split{border:1px solid #F2F2F2;width:100%;position:relative;padding:0 2.7rem;}
.points-detail .split .txt{width:2.1rem;position:absolute;top:-.2rem;text-align:center;background-color:#fff;}
.points-detail .line{height:1.7rem;border-bottom:1px solid #F2F2F2;padding:.24rem;}
.points-detail .line.last{border-bottom:0;}
.points-detail .line .line-wrap{float:left;height:1.22rem;}
.points-detail .line .line-wrap.left{width:6rem;}
.points-detail .line .line-wrap.right{width:1.02rem;}
.points-detail .line .line-wrap .txt{line-height:.5rem;height:.61rem;line-height:.61rem;}
.points-detail .line .line-wrap .txt.points-op{height:1.22rem;line-height:1.22rem;}

/*下订单*/
.order-top{background-color:#fff;height:1.5rem;width:100%;}
.order-top .txt{height:1.5rem;line-height:.56rem;width:7rem;margin:0 auto;padding:.14rem 0;}
.order-price{background-color:#fff;height:1.4rem;line-height:1.4rem;width:100%;}
.order-price .txt{height:1.4rem;line-height:1.4rem;width:7rem;margin:0 auto;}
.agreement{height:.7rem;width:100%;}
.agreement .txt{height:1.04rem;line-height:1.04rem;width:7rem;margin:0 auto;text-align:center;}
.order-top.points{height:1.04rem;}
.order-top.points .txt{height:1.04rem;line-height:1.04rem;padding:0;}
.order-service-item{padding-left:.26rem;border-bottom:1px solid #f2f2f2;}
.order-service-item .pic{margin-top:.3rem;margin-right:.1rem;height:.44rem;width:.44rem;background-image:url(../images/83.png);background-repeat:no-repeat;background-size:.42rem;}
.order-service-item.active .pic{background-image:url(../images/84.png);}
.order-service-item .tit{width:5.4rem;font-weight:normal;border:0;}
.order-service-item .price{width:1rem;float:left;}
.order-service-item.last{border:0;}
.payment-list{width:100%;background-color:#fff;}
.payment-list .payment{width:100%;padding:.24rem .3rem;border-bottom:1px solid #F2F2F2;height:1.65rem;}
.payment-list .payment.last{border-bottom:0;}
.payment-list .payment .pic{width:1.32rem;float:left;background-size:.94rem;background-repeat:no-repeat;height:100%;margin-top:.1rem;}
.payment-list .payment .pic.wxpay{background-image:url('../images/96.png');}
.payment-list .payment .pic.alipay{background-image:url('../images/95.png');}
.payment-list .payment .txt{width:4.88rem;float:left;}
.payment-list .payment .txt .payment-name{height:.585rem;line-height:.585rem;}
.payment-list .payment .txt .payment-intro{height:.585rem;line-height:.585rem;}
.payment-list .payment .radio{float:left;width:.7rem;height:.42rem;background-image:url(../images/83.png);background-repeat:no-repeat;background-size:.42rem;margin-top:.3rem;}
.payment-list .payment .radio.active{background-image:url(../images/84.png);}
.radio-list{width:3.4rem;height:.76rem;margin-left:.75rem;}
.radio-list .radio{float:left;width:1.5rem;margin-right:.2rem;}
.radio-list .radio .pic{margin-top:.3rem;height:.44rem;width:.44rem;background-image:url(../images/83.png);background-repeat:no-repeat;background-size:.42rem;}
.radio-list .radio.active .pic{background-image:url(../images/84.png);}
.btn-spacing{margin-top:.3rem}

/*订单列表*/
.order-item{height:2.7rem;width:100%;background-color:#fff;}
.order-item.eventactive{background-color:#eeeeee;}
.order-item .item-header{border-bottom:1px solid #F2F2F2;height:1.06rem;padding:0 .24rem;}
.order-item .item-header .txt{float:left;height:1.06rem;line-height:1.06rem;}
.order-item .item-header .txt.oid{width:6rem;}
.order-item .item-header .txt.status{text-align:right;width:1.02rem;}
.order-item .item-content{padding:.34rem .24rem;}
.order-item .item-content .pic{width:.96rem;background-size:.96rem;float:left;height:.96rem;margin-right:.2rem;}
.order-item .item-content .pic.p3{background-image:url('../images/99.png');}
.order-item .item-content .pic.p4{background-image:url('../images/100.png');}
.order-item .item-content .txt{float:left;width:4.7rem;height:.96rem;}
.order-item .item-content .txt .t1{height:.48rem;line-height:.48rem;}
.order-item .item-content .txt .t2{height:.48rem;line-height:.48rem;}
.order-item .item-content .price{float:left;height:.96rem;line-height:1.4rem;width:1.16rem;text-align:right;}

/*订单详情*/
.detail_head{height:1.7rem;width:100%;background-color:#f9f9f9;}
.detail_head{padding:.34rem .24rem;}
.detail_head .pic{width:.96rem;background-size:.96rem;float:left;height:.96rem;margin-right:.2rem;}
.detail_head .pic.p3{background-image:url('../images/99.png');}
.detail_head .pic.p4{background-image:url('../images/100.png');}
.detail_head .txt{float:left;width:3rem;height:.96rem;}
.detail_head .txt .t1{height:.48rem;line-height:.48rem;}
.detail_head .txt .t2{height:.48rem;line-height:.48rem;}
.detail_head .price,.detail_head .price-free{float:left;height:.96rem;line-height:1.4rem;width:2.86rem;text-align:right;}
.detail_head .price .t1{height:.48rem;line-height:.48rem;}
.detail_head .price .t2{height:.48rem;line-height:.48rem;text-decoration:line-through;}
.detail_head .price-free .t1{height:.96;line-height:.96rem;}
.pay-info{padding:.2rem .24rem;background-color:#fff;}
.pay-info .item{padding:.18rem 0;}
.pay-info .item .t1{float:left;width:1.5rem;}
.pay-info .item .t2{float:left;width:5.52rem;text-align:right;}
.time-info{width:100%;height:2.84rem;background-color:#fff;padding:.16rem .24rem;}
.time-info .item{padding:.12rem 0;}
.input-wrap .describe{width:4.55rem;padding-right:.5rem;}
.choose-wrap .tit{width:4.24rem;}
.choose-wrap .describe{width:2.75rem;}
.choose-wrap .describe .radio-list .radio{width:1rem;}

/* 个人简历管理*/
.split-block-title a{position:relative;}
.resume{background:#ffffff;width:100%;border-bottom:1px solid #f0f0f0;border-top:1px solid #f0f0f0;}
.resume .info{padding:.25rem .35rem;}
.resume .info .line-one{height:.6rem;line-height:.6rem;}
.resume .info .line-one .resume-title{max-width:40%;float:left;color:#333333;}
.resume .info .line-one .is-default{width:30%;float:left;margin-left:.2rem;}
.resume .info .line-one .is-default span{width:20%;background-color:#ff6600;padding:.02rem .08rem;border:1px solid #ff6600;border-radius:.08rem;color:#ffffff;}
.resume .info .line-one .resume-status{float:right;}
.resume .info .line-two{height:.5rem;line-height:.5rem;}
.resume .info .line-two .privacy{float:left;width:40%;}
.resume .info .line-two .complete{float:left;width:60%;}
.resume .info .line-three{height:.5rem;line-height:.5rem;}
.resume .info .line-three .down-browse{float:left;width:40%;}
.resume .info .line-three .refresh-time{float:left;width:60%;}
.resume .handler{background:#f8f9fa;padding:0 .2rem;border-top:1px solid #f0f0f0;}
.resume .handler .item{width:20%;height:1.5rem;padding-top:.2rem;float:left;}
.resume .handler .item.eventactive .pic{transform:scale(1.2,1.2);transition:.2s transform;}
.resume .handler .item:active{background:#f0f0f0;}
.resume .handler .item:active span{color:#ff6600;}
.resume .handler .item .pic{width:.6rem;height:.6rem;background-size:.6rem;margin:0 auto;background-repeat:no-repeat;}
.resume .handler .item .pic.refresh{background-image:url(../images/115.png);}
.resume .handler .item .pic.update{background-image:url(../images/116.png);}
.resume .handler .item .pic.preview{background-image:url(../images/117.png);}
.resume .handler .item .pic.generalize{background-image:url(../images/118.png);}
.resume .handler .item .pic.more{background-image:url(../images/119.png);}
.resume .handler .item span{height:.5rem;line-height:.5rem;color:#666666;text-align:center;display:block;margin-top:.1rem;}
.resume .handler .item span.disable{color:#999999;}

/* 面试邀请、谁看过我、已申请的职位共用 */
.list-item{background:#ffffff;padding-top:.2rem;padding-bottom:.25rem;border-bottom:1px solid #f0f0f0;}
.list-item.eventactive{background-color:#EEEEEE;}
.list-item .content{width:90%;margin:0 auto;}
.list-item .content .line-one{height:.6rem;line-height:.6rem;position:relative;}
.list-item .content .line-one .title{width:70%;float:left;color:#333333;}
.list-item .content .line-one .title.no-read{font-weight:bolder;}
.list-item .content .line-one .title .red-tip{position:absolute;width:.22rem;height:.22rem;border:.04rem #FFFFFF solid;border-radius:.15rem;background-color:#FF0000;left:-.28rem;top:.16rem;}
.list-item .content .line-one .right{float:right;}
.list-item .content .line-one .delete{float:right;border:1px solid #fd8000;color:#fd8000;width:1rem;height:.52rem;line-height:.52rem;text-align:center;margin-top:.04rem;border-radius:.08rem;}
.list-item .content .line-one .delete:active{background:#fd8000;color:#ffffff;}
.list-item .content .line-two{height:.5rem;line-height:.5rem;}
.list-item .content .line-two .left{width:70%;float:left;}
.list-item .content .line-two .right{float:right;}
.list-item .content .line-three{height:.5rem;line-height:.5rem;}
.list-item .content .line-four{color:#999999;line-height:.4rem;}

/* 收藏&关注*/
.favorites-top-nav{background:#fff;}
.favorites-top-nav .n-cell{position:relative;width:50%;float:left;text-align:center;}
.favorites-top-nav .n-cell .b-line{display:none;position:absolute;top:1.02rem;width:100%;height:.03rem;background:#0180CF;}
.favorites-top-nav .n-cell.active{color:#0180cf;}
.favorites-top-nav .n-cell.active .b-line{display:block;}
.com-list-item{background:#ffffff;width:100%;border-top:1px solid #f0f0f0;}
.com-list-item.eventactive{background-color:#EEEEEE;}
.com-list-item .com-info{padding:.22rem 5%;position:relative;}
.com-list-item .com-info .info{float:left;padding-top:.02rem;width:72%;}
.com-list-item .com-info .info .line-one{height:.6rem;line-height:.6rem;color:#333333;}
.com-list-item .com-info .info .line-two{height:.5rem;line-height:.5rem;}
.com-list-item .com-info .info .line-three{height:.58rem;padding-top:.08rem;}
.com-list-item .com-info .info .line-three .tag{padding:.02rem .05rem;text-align:center;border:1px solid #15b4e9;border-radius:.053rem;color:#15b4e9;margin-right:.12rem;float:left;margin-bottom:.12rem}
.com-list-item .com-info .info .line-four{height:.6rem;line-height:.6rem;}
.com-list-item .com-info .logo{width:1.6rem;height:1.6rem;float:left;padding:.05rem;margin-top:0.1rem;margin-right:0.2rem;}
.com-list-item .com-info .logo img{width:1.5rem;height:1.5rem;border-radius:.1rem;border:1px #E8E8E8 solid;}
.com-list-item .com-district{width:90%;padding:.2rem 0;margin:0 auto;border-top:1px dashed #cacaca;}
.com-list-item .com-district .district{width:60%;float:left;background-image:url("../images/128.png");background-repeat:no-repeat;background-size:.35rem;background-position:0 center;padding-left:.35rem;}
.com-list-item .com-district .more-jobs{float:right;}

/* 创建简历成功*/
.add_success{width:100%;background-color:#FFFFFF;padding-top:.5rem;}
.add_success .pic{width:1.2rem;height:1.5rem;margin:0 auto;}
.add_success .pic img{width:1.2rem;height:1.2rem}
.add_success .tipb{height:.6rem;text-align:center;}
.add_success .tip{text-align:center;padding:.3rem;line-height:160%;color:#999999}
.add_success .btnsbox{padding:0rem .2rem;padding-bottom:.3rem;}
.add_success .btnsbox .btnli{width:50%;float:left;padding:.25rem;}
.add_successrec{background-color:#FFFFFF;padding-bottom:.3rem}
.add_successrec .eattitle{border-bottom:1px  #F2F2F2 solid;padding-left:.3rem;padding-right:.3rem;font-weight:700;position:relative}
.add_successrec .eattitle .ritle{text-align:right;font-weight:normal;color:#0180cf;position:absolute;right:.3rem;top:0rem;}
.add_successrec .jobslist{border-bottom:1px  #F2F2F2 solid;padding:.2rem .3rem;position:relative}
.add_successrec .jobslist.last{border-bottom:0px;}
.add_successrec .jobslist .jname{height:.6rem;}
.add_successrec .jobslist .cname{height:.5rem;color:#999999}
.add_successrec .jobslist .wage{color:#FF3300}
.add_successrec .jobslist .time{position:absolute;right:.3rem;bottom:.3rem;}
.add_successrecso{text-align:center;height:1.2rem;line-height:1.2rem;}

/* 完善简历*/
.replenishtop{background-color:#FFFFFF;position:relative;height:.95rem;}
.replenishtop .rename{position:absolute;left:.3rem;top:.3rem;}
.replenishtop .rename .span{padding:.1rem;margin-left:.2rem;padding-top:.05rem}
.replenishtop .rename .span img{width:.35rem;vertical-align:middle}
.replenishtop .integrity{position:absolute;left:.3rem;top:.3rem;text-align:left}
.replenishtop .integrity span{color:#009900}
.replenishtop .integritys{position: absolute;right: .3rem;top: .3rem;text-align: right;}
.replenishtopbg{width:100%;height:.08rem;background-image:url(../images/164.png);background-repeat:repeat-x}

/* 修改简历*/
.listmod{background-color:#FFFFFF;}
.listmod .eattitle{border-bottom:1px  #F2F2F2 solid;padding-left:.7rem;padding-right:.3rem;font-weight:700;position:relative;background-image:url(../images/165.png);background-repeat:no-repeat;background-size:.32rem;background-position:.3rem center;}
.listmod .eattitle span{color:#FF0000;padding-left:.2rem;font-weight:normal}
.listmod .eattitle.t1{background-image:url(../images/158.png);}
.listmod .eattitle.t2{background-image:url(../images/159.png);}
.listmod .eattitle.t3{background-image:url(../images/125.png);}
.listmod .eattitle.t4{background-image:url(../images/167.png);}
.listmod .eattitle.t5{background-image:url(../images/166.png);}
.listmod .eattitle.t6{background-image:url(../images/168.png);}
.listmod .eattitle.t7{background-image:url(../images/169.png);}
.listmod .eattitle.t8{background-image:url(../images/170.png);}
.listmod .eattitle.t9{background-image:url(../images/165.png);}
.listmod .eattitle.t10{background-image:url(../images/160.png);}
.listmod .eattitle .editbtn{font-weight:normal;color:#0180cf;position:absolute;right:.2rem;top:0rem;width:1.15rem;background-image:url(../images/174.png);background-repeat:no-repeat;background-size:.32rem;background-position:0rem center;padding-left:.4rem;}
.listmod .eattitle .addbtn{font-weight:normal;color:#0180cf;position:absolute;right:.2rem;top:0rem;width:1.15rem;background-image:url(../images/176.png);background-repeat:no-repeat;background-size:.3rem;background-position:0rem center;padding-left:.4rem;}
.listmod .eattitle .down-btn{position:absolute;right:.5rem;top:0rem;width:1rem;background-image:url(../images/245.png);background-repeat:no-repeat;background-size:.24rem .22rem;background-position:right center;color:#b9b9b9;}
.listmod .eattitle .down-btn.up{background-image:url(../images/246.png);}

/*修改简历描述*/
.per-introduce{background:#ffffff;padding:.35rem;}
.per-introduce textarea{width:100%;height:3.5rem;border:0px;}
.per-introduce-tip{height:0.85rem;line-height:0.85rem;padding:0 0.35rem;}
.per-introduce-tip .text-num{float:left;}
.per-introduce-tip .text-clear{float:right;background-image:url(../images/45.png);background-repeat:no-repeat;background-size:.4rem;background-position:0rem center;padding-left:.5rem;}
.picmod{padding-top:.2rem;padding-bottom:.2rem;border-bottom:1px #F2F2F2 solid}
.picmod .pic{float:left;width:2rem;padding-left:.35rem;}
.picmod .pic .picborder{border:1px #F0F0F0 solid;background-color:#FFFFFF;width:1.2rem;height:1.2rem;border-radius:1.2rem;padding:.04rem;}
.picmod .pic .picborder img{width:1.1rem;height:1.1rem;border-radius:1.1rem;}
.picmod .rneme{float:left;width:5.5rem;}
.picmod .rneme .t{height:.7rem;padding-top:.15rem}
.picmod .rneme .txt{color:#999999;}
.listmod .txt2list{padding-top:.2rem;padding-bottom:.2rem;}
.listmod .txt2list .tleft{float:left;width:2rem;padding-left:.3rem;padding-top:.06rem;padding-bottom:.06rem;line-height:160%;color:#999999}
.listmod .txt2list .tright{float:left;width:5.5rem;padding-right:.3rem;padding-top:.06rem;padding-bottom:.06rem;line-height:160%;}
.txtmod{padding:.2rem .3rem;color:#999999;line-height:160%;word-break:break-all;}
.expmod{position:relative;padding-top:.2rem;padding-bottom:.2rem;border-bottom:1px #F2F2F2 solid;padding-left:.3rem;padding-right:.3rem;}
.expmod.last{border-bottom:0px;}
.expmod .expedit{width:.5rem;height:.5rem;position:absolute;top:.2rem;right:.86rem;background-image:url(../images/174.png);background-repeat:no-repeat;background-position:center center;background-size:.32rem;}
.expmod .expdel{width:.5rem;height:.5rem;position:absolute;top:.2rem;right:.3rem;background-image:url(../images/177.png);background-repeat:no-repeat;background-position:center center;background-size:.32rem;}
.expmod .exptr1{height:.6rem;padding-top:.05rem;}
.expmod .exptr1 span{color:#999999;padding-left:.3rem;}
.expmod .exptr2{height:.5rem;color:#999999}
.expmod .exptr3{line-height:160%;color:#C3C3C3;word-break:break-all;}
.langmod{position:relative;padding-top:.2rem;padding-bottom:.2rem;border-bottom:1px #F2F2F2 solid;padding-left:.3rem;padding-right:.3rem;}
.langmod.last{border-bottom:0px;}
.langmod .expedit{width:.5rem;height:.5rem;position:absolute;top:.2rem;right:.86rem;background-image:url(../images/174.png);background-repeat:no-repeat;background-position:center center;background-size:.32rem;}
.langmod .expdel{width:.5rem;height:.5rem;position:absolute;top:.2rem;right:.3rem;background-image:url(../images/177.png);background-repeat:no-repeat;background-position:center center;background-size:.32rem;}
.langmod .tagli{padding-left:.2rem;padding-right:.2rem;line-height:.75rem;color:#FF6600;border:1px  #96D1F1 solid;border-radius:.1rem;background-color:#E4F4FC;display:inline-block;}
.langmod .tagli span{padding-left:.15rem;color:#666666}
.tagmod{width:6.9rem;margin:0 auto;padding-bottom:.2rem;}
.tagmod .litag{max-width:3.05rem;margin-right:.2rem;float:left;height:.75rem;line-height:.75rem;border:1px  #E4E4E4 solid;margin-top:.2rem;border-radius:.1rem;padding-left:.15rem;padding-right:.9rem;position:relative;}
.tagmod .litag .del{width:.75rem;height:.75rem;position:absolute;right:0px;top:0px;background-color:#EFEFEF;background-image:url(../images/178.png);background-repeat:no-repeat;background-position:center center;background-size:.32rem;}
.imgmod{position:relative;padding-top:.2rem;padding-bottom:.15rem;border-bottom:1px #F2F2F2 solid;margin-left:.3rem;width:7.2rem;}
.imgmod.last{border-bottom:0px;}
.imgmod .expedit{width:.5rem;height:.5rem;position:absolute;top:.2rem;right:.86rem;background-image:url(../images/174.png);background-repeat:no-repeat;background-position:center center;background-size:.32rem;}
.imgmod .expdel{width:.5rem;height:.5rem;position:absolute;top:.2rem;right:.3rem;background-image:url(../images/177.png);background-repeat:no-repeat;background-position:center center;background-size:.32rem;}
.imgmod .imgtd1{width:1.5rem;float:left}
.imgmod .imgtd1 img{border:1px #E3E3E3 solid;width:1.17rem;height:1.17rem;}
.imgmod .imgtd2{width:5.7rem;float:left}
.imgmod .imgtd2 .iname{height:.6rem;padding-top:.1em;}
.btns-div{}
.btns-div .btnli{width:50%;float:left;padding:.25rem;}

/*意见反馈*/
.textarea-txt{width:100%;background-color:#FFFFFF;padding:.35rem;}
.textarea-txt textarea{width:100%;height:3.5rem;margin:0 auto;border:0px;resize:none;}
.btn-spacing{margin-top:.3rem}
.bottom_txt{height:.8rem;line-height:.8rem;padding:0 .35rem;}
.bottom_txt .llt{float:left;}
.bottom_txt .rlt{float:right;background-image:url(../images/45.png);background-repeat:no-repeat;background-size:.4rem;background-position:0rem  center;padding-left:.5rem;}
.shiele_wrap{padding:.4rem .2rem;}
.shiele_wrap .shiele_btn{width:2rem;}
.shiele_wrap .shiele_val{padding:0 .2rem;width:5rem;float:left;height:.98rem;border:1px solid #dfdfdf;border-radius:3px}
.bottom_order{border-bottom:1px #F2F2F2 solid}
.avatar{height:.8rem;width:.8rem;border-radius:50%;margin-left:3rem;margin-top:.15rem;overflow:hidden;}
.avatar img{height:.8rem;width:.8rem;}
.plist-txt .vcode_val{position:relative;float:left;height:100%;border-bottom:1px #F2F2F2 solid;width:2rem;text-align:right;color:#999999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.plist-txt .vcode_val input{width:2rem;height:.5rem;line-height:.5rem;border:0px;text-align:right;background:transparent;}
.plist-txt .vcode_btn{float:right;margin:.125rem .3rem 0 0;padding:0 .1rem;}
.perindextop .resume_dig{background:none;}
.perindextop .tip{position:relative;width:5.8rem;height:1.6rem;border-radius:.1rem;border:.05rem #e1f1f7 solid;margin:1.2rem auto 0 1.2rem;background-color:#e1f1f7;text-align:center;padding:.2rem 0;font-size:.25714285rem;}
.perindextop .tip .title{padding-bottom:.2rem;font-size:.3rem;font-weight:bold;}
.perindextop .tip .pic_avatar{position:absolute;width:1.4rem;height:1.4rem;border-radius:50%;top:-.7rem;left:-.7rem;background-image:url(../images/209.png);background-size:1.4rem;box-shadow:rgb(153,153,153) 5px 6px 20px;}
.perindextop .header_title{position:absolute;left:1.2rem;right:1.2rem;top:0;height:1.2rem;line-height:1.2rem;color:#fff;text-align:center;}

/*创建简历第二步优化*/
.btn-save-line{width:100%;height:1.04rem;line-height:1.04rem;text-align:center;color:#ff6600;border-top:1px #F2F2F2 solid;}
.btn-save-line .bsl{width:50%;float:left;}
.btn-save-line .bsl-left{position:relative;color:#999;}
.btn-save-line .bsl-left:after{position:absolute;right:0;top:0;width:1px;height:1.04rem;content:'';-webkit-transform:scaleY(1);transform:scaleY(1);background-color:#ededed;}
.btn-add-line{width:100%;height:1.07rem;line-height:1.07rem;text-align:center;background:#FFF;}
.btn-add-line .bal-icon{display:inline-block;height:.40rem;line-height:.40rem;padding-left:.6rem;background-image:url(../images/247.png);background-repeat:no-repeat;background-size:.40rem;color:#ff6600;}
.split-block{width:100%;height:.25rem;background-color:#f0f2f5;}

/*照片作品图片大小限制*/
.photo-works{padding:0 .35rem;}
.photo-works img{max-width:6.8rem;}

.plist-txt.last .js-todate {border: 1px solid #fd8000;}

/*我的红包*/
.my-alw-list{background:#FFF;}
.my-alw-list .mal-h{width:7.5rem;height:1.03rem;line-height:1;border-bottom:1px solid #f5f5f5;}
.mal-h .mal-h-icon{float:left;width:.34rem;height:.34rem;margin-left:.23rem;margin-top:.37rem;margin-right:.1rem;background-repeat:no-repeat;background-size:.34rem;}
.mal-h .mal-h-icon.mh1{background-image:url(../images/262.png);}
.mal-h .mal-h-icon.mh2{background-image:url(../images/263.png);}
.mal-h .mal-h-icon.mh3{background-image:url(../images/264.png);}
.mal-h .mal-h-txt{float:left;padding-top:.38rem;}
.mal-h .mal-h-sta{float:right;padding-top:.38rem;padding-right:.24rem;}
.mal-line{line-height:1;padding-left:.23rem;}
.mal-line .c-l{float:left;}
.mal-line .c-l .qs-btn:first-child{margin-right:.28rem;}
.mal-line .c-r{float:right;padding-right:.23rem;}
.mal-line.c-btn .c-r{padding-top:.23rem;}
.sp-h-29{width:100%;height:.29rem;}
.sp-h-32{width:100%;height:.32rem;}
.sp-h-38{width:100%;height:.38rem;}
.sp-h-39{width:100%;height:.39rem;}
.sp-h-40{width:100%;height:.40rem;}
.sp-h-41{width:100%;height:.41rem;}
.sp-h-48{width:100%;height:.48rem;}
.sp-h-50{width:100%;height:.50rem;}


/*打赏详情*/
.alw-detail-box{background:#FFF;}
.alw-deb-line{text-align:center;line-height:1;}
.alw-deb-icon{display:inline-block;height:.4rem;line-height:.4rem;padding-left:.56rem;background-repeat:no-repeat;background-size:.4rem;}
.alw-deb-icon.de1{background-image:url(../images/262.png);}
.alw-deb-icon.de2{background-image:url(../images/263.png);}
.alw-deb-icon.de3{background-image:url(../images/264.png);}
.alw-deb-line-c{padding:0 .23rem;line-height:1;}
.alw-deb-line-c .alc-l{float:left;}
.alw-deb-line-c .alc-r{float:right;}
.alw-sch-line{line-height:1;padding:0 .23rem;}
.alw-sch-line .asl-l{float:left;width:2.43rem;}
.alw-sch-line .asl-c{float:left;width:2.83rem;padding-left:.45rem;background-repeat:no-repeat;}
.alw-sch-line .asl-c.current{color:#0180cf;}
.alw-sch-line.as1 .asl-c{padding-top:.03rem;height:.74rem;line-height:1;color:#0180cf;}
.alw-sch-line.as1 .asl-c{background-image:url(../images/265.png);background-size:.34rem .74rem;}
.alw-sch-line.as1 .asl-r{padding-top:.03rem;}
.alw-sch-line.as2{line-height:1.14rem;}
.alw-sch-line.as2 .asl-l{float:left;height:1.14rem;width:2.43rem;}
.alw-sch-line.as2 .asl-c{height:1.14rem;background-image:url(../images/268.png);background-size:.34rem 1.14rem;}
.alw-sch-line.as2 .asl-c.current{height:1.14rem;background-image:url(../images/266.png);background-size:.34rem 1.14rem;}
.alw-sch-line.as3{line-height:1.14rem;}
.alw-sch-line.as3 .asl-l{float:left;height:1.14rem;width:2.43rem;}
.alw-sch-line.as3 .asl-c{height:1.14rem;background-image:url(../images/268.png);background-size:.34rem 1.14rem;}
.alw-sch-line.as3 .asl-c.current{height:1.14rem;background-image:url(../images/266.png);background-size:.34rem 1.14rem;}
.alw-sch-line.as4 .asl-l{float:left;height:.74rem;width:2.43rem;}
.alw-sch-line.as4 .asl-c{height:.74rem;line-height:1;padding-top:.42rem;}
.alw-sch-line.as4 .asl-c{background-image:url(../images/269.png);background-size:.34rem .74rem;}
.alw-sch-line.as4 .asl-c.current{background-image:url(../images/267.png);background-size:.34rem .74rem;}
.alw-sch-line .asl-r{float:right;}
.alw-sch-line.as4 .asl-r{float:right;padding-top:.42rem;}
.det-com-btn-box{padding:0 .23rem;width:7.5rem;height:1.12rem;line-height:1.12rem;background:#FFF;border-top:1px solid #f5f5f5;}
.det-com-btn-box .dcb-l{float:left;width:2.42rem;}
.det-com-btn-box .qs-btn{margin-top:.16rem;margin-right:.23rem;}
.det-remind-box{text-indent:2em;line-height:1.5;padding:.3rem .23rem;background:#FFF;}
.replenishtop .rg_privacy{float: right;width: 63px;height: 24px;background-image: url(../images/309.png);background-repeat: no-repeat;cursor: pointer;}
.replenishtop .close{background-position: 0 -50px;}