<!DOCTYPE html>
<html>
	<head>
		<include file="public:meta" />
	</head>
	<body>
		<div class="mob-app">
            <div class="t1 font24">靠谱工作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;优秀人才</div>
            <div class="t2">本地区专业的人才招聘APP</div>
            <a href="{:C('qscms_android_download')}" class="dow-btn"><div class="dow">下载安卓客户端</div></a>
            <a href="{:C('qscms_ios_download')}" class="dow-btn"><div class="dow">下载苹果客户端</div></a>
        </div>
	</body>
</html>