<!DOCTYPE html>
<html>
<head>
    <include file="public:meta"/>
    <link rel="stylesheet" href="../public/css/house.css">
    <qscms:load type="category" search="1"/>
</head>
<body>
    <include file="public:header"/>
    <eq name="new_record" value="1">
        <div class="split-block-title">您的账号还可以发布 <strong>{$leave_info_num}</strong> 条房屋出租信息！</div>
    </eq>
    <div class="list_height plist-txt notarrow">
        <div class="pic"></div>
        <div class="tit font14">信息标题<span class="font_red_light">*</span></div>
        <div class="describe"><input type="text" id="title" name="title" placeholder="请输入信息标题" value="{$info['title']}" class="font13">
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt">
        <div class="pic"></div>
        <div class="tit font14">房源<span class="font_red_light">*</span></div>
        <div class="describe font13 qs-relative">
            <div class="for-select"></div>
            <select id="identity" name="identity">
                <option value="0">请选择房源</option>
                <volist name="category['QS_identity']" id="vo">
                    <option value="{$key}" <if condition="$info['identity'] eq $key OR $i eq 1">selected</if>>{$vo}</option>
                </volist>
            </select>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt">
        <div class="pic"></div>
        <div class="tit font14">出租方式<span class="font_red_light">*</span></div>
        <div class="describe font13 qs-relative">
            <div class="for-select"></div>
            <select id="type" name="type">
                <option value="0">请选择出租方式</option>
                <volist name="category['QS_rent_type']" id="vo">
                    <option value="{$key}" <if condition="$info['type'] eq $key OR $i eq 1">selected</if>>{$vo}</option>
                </volist>
            </select>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt js-actionParent">
        <div class="pic"></div>
        <div class="tit font14">所在地区<span class="font_red_light">*</span></div>
        <div class="describe font13 qs-temp-new-city js-showActionSheet" data-multiple="false" >
            <span class="qs-temp-txt-city" data-otxt="请选择所在地区">{$info['district_cn']|default='请选择'}</span>
            <input class="qs-temp-code-city" type="hidden" id="district" value="<if condition="$info['district']">{$info.district}</if>" keep="<if condition="$info['district']">{$info.district}</if>">
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
        <!--BEGIN actionSheet-->
        <div>
            <div class="qs-mask" style="display: none"></div>
            <div class="qs-actionsheet js-actionsheet">
                <div class="qs-actionsheet-menu">
                    <div class="con-filter">
                        <div class="f-selected-group f-selected-group-city">
                            <div class="s-bar">
                                <div class="qs-btn qs-btn-inline qs-btn-small qs-btn-border-gray qs-left js-cancelActionSheet">取消</div>
                                <div class="clear"></div>
                            </div>
                            <div class="s-list qs-hidden"></div>
                        </div>
                        <div class="f-box f-box-city"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list_height plist-txt notarrow">
        <div class="pic"></div>
        <div class="tit font14">小区名称<span class="font_red_light">*</span></div>
        <div class="describe"><input type="text" id="court_name" name="court_name" placeholder="请输入小区名称" value="{$info['court_name']}" class="font13">
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt notarrow last">
        <div class="pic"></div>
        <div class="tit font14">详细位置<span class="font_red_light">*</span></div>
        <div class="describe"><input type="text" id="address" placeholder="请输入详细位置" value="{$info['address']}" class="font13">
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="split-block"></div>
    <div class="list_height plist-txt notarrow">
        <div class="pic"></div>
        <div class="tit font14">月租金<span class="font_red_light">*</span></div>
        <div class="describe"><input type="text" id="rent" name="rent" placeholder="请输入月租金" value="{$info['rent']}" class="font13">
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt last">
        <div class="pic"></div>
        <div class="tit font14">支付方式<span class="font_red_light">*</span></div>
        <div class="describe font13 qs-relative">
            <div class="for-select">请选择支付方式</div>
            <select id="pay" name="pay">
                <option value="0">请选择支付方式</option>
                <volist name="category['QS_pay_type']" id="vo">
                    <option value="{$key}" <if condition="$info['pay'] eq $key">selected</if>>{$vo}</option>
                </volist>
            </select>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="split-block"></div>
    <div class="list_height plist-txt notarrow">
        <div class="pic"></div>
        <div class="tit font14">面积</div>
        <div class="describe"><input type="text" id="area" name="area" placeholder="请输入面积" value="{$info['area']}" class="font13">
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt">
        <div class="pic"></div>
        <div class="tit font14">厅室<span class="font_red_light">*</span></div>
        <div class="describe font13 qs-relative">
            <div class="for-select">请选择厅室</div>
            <select id="house" name="house">
                <option value="0">请选择厅室</option>
                <volist name="category['QS_house']" id="vo">
                    <option value="{$key}" <if condition="$info['house'] eq $key">selected</if>>{$vo}</option>
                </volist>
            </select>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt">
        <div class="pic"></div>
        <div class="tit font14">总楼层<span class="font_red_light">*</span></div>
        <div class="describe font13 qs-relative">
            <div class="for-select">请选择总楼层</div>
            <select id="total_floor" name="total_floor">
                <option value="0">请选择总楼层</option>
                <for start="1" end="41">
                    <option value="{$i}" <if condition="$info['total_floor'] eq $i">selected</if>>{$i}层</option>
                </for>
            </select>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt">
        <div class="pic"></div>
        <div class="tit font14">所在楼层<span class="font_red_light">*</span></div>
        <div class="describe font13 qs-relative">
            <div class="for-select">请选择所在楼层</div>
            <select id="floor" name="floor">
                <option value="0">请选择所在楼层</option>
                <for start="1" end="41">
                    <option value="{$i}" <if condition="$info['floor'] eq $i">selected</if>>{$i}层</option>
                </for>
            </select>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt js-actionParent">
        <div class="pic"></div>
        <div class="tit font14">配套设施</div>
        <a href="#tagStr" class="describe font13 J_tag">{$tagStr.cn|default='请选择'}</a>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt last">
        <div class="pic"></div>
        <div class="tit font14">详细描述</div>
        <a href="#describe" class="describe font13 describeText">{$info['contents']|default='请输入详细描述'}</a>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="split-block"></div>
    <div class="J_imgWrap <empty name='rent_img'>qs-hidden</empty>">
        <div class="list_height plist-txt notarrow last">
        <div class="pic"></div>
        <div class="tit font14">房屋照片</div>
        </div>
        <div class="com_img">
            <div class="imgul">
                <div class="imgli-group">
                    <volist name="rent_img" id="vo">
                        <div class="imgli"><img src="{:attach($vo['img'],'house_rent')}"></div>
                    </volist>
                </div>
                <div class="J_add_storetransfer imgadd"><input type="file" id="browseFile" class="browseFile"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <empty name="rent_img">
        <div id="J_imgWrapOrg" class="list_height plist-txt notarrow">
            <div class="pic"></div>
            <div class="tit font14">房屋照片</div>
            <div class="describe com_certificate_add_btn font13">
                <div class="J_add_storetransfer qs-btn qs-btn-inline qs-btn-medium qs-btn-green mt125">
                    上传图片
                    <input type="file" id="browse" class="browseFile">
                </div>
            </div>
            <div class="arrow"></div>
            <div class="clear"></div>
        </div>  
    </empty>
    <script src="../public/js/mobileBUGFix.mini.js"></script>
    <script src="../public/js/LocalResizeIMG.js"></script>
    <script src="../public/js/nprogress.js"></script>
    <script>
        $('#browseFile,#browse').localResizeIMG({
            width: 800,
            quality: 1,
            success: function (result) {
                var submitData={
                    base64_string:result.clearBase64
                };
                if ($('.imgli').length >= 6) {
                    qsToast({context: '最多可上传 6 张'});
                    return false;
                }
                NProgress.start();
                $.ajax({
                    type: "POST",
                    url: "{:U('upload_img')}",
                    data: submitData,
                    dataType:"json",
                    success: function(result){
                        NProgress.done();
                        if(result.status == 1){
                            $('.imgli-group').append('<div class="imgli"><img src="'+result.data.path+'"></div>');
                            $('.J_imgWrap').removeClass('qs-hidden');
                            $('#J_imgWrapOrg').remove();
                            qsToast({type:1,context:result.msg});
                        }else{
                            qsToast({type:2,context:result.msg});
                        }
                    },
                    complete :function(XMLHttpRequest, textStatus){},
                    error:function(XMLHttpRequest, textStatus, errorThrown){ //上传失败
                        qsToast({type:2,context: '图片上传失败！'});
                    }
                });
            }
        });
    </script>
    <div class="split-block"></div>
    <!--联系方式-->
    <eq name="new_record" value="1">
        <eq name="need_mobile_audit" value="1">
        <div class="list_height plist-txt notarrow">
            <div class="pic"></div>
            <div class="tit font14">发布人<span class="font_red_light">*</span></div>
            <div class="describe">
                <input type="text" id="contact" name="contact" placeholder="请输入发布人" class="font13" value="{$info.contact}">
            </div>
            <div class="arrow"></div>
            <div class="clear"></div>
        </div>
        <div class="list_height plist-txt notarrow">
            <div class="pic"></div>
            <div class="tit font14">联系电话<span class="font_red_light">*</span></div>
            <div class="describe">
                <input type="text" id="mobile" name="mobile" placeholder="请输入联系电话" class="font13" value="{$mobile}">
            </div>
            <div class="arrow"></div>
            <div class="clear"></div>
        </div>
        <div class="list_height plist-txt notarrow">
            <div class="pic"></div>
            <div class="tit font14">验证码<span class="font_red_light">*</span></div>
            <div class="verify-code">
                <input type="text" id="verify_code" name="mobile_vcode" placeholder="请输入验证码" class="font13" value="">
            </div>
            <div id="getVerfyCode" class="qs-btn qs-btn-inline qs-btn-medium qs-btn-border-gray font14 btn-get-code">获取验证码</div>
            <div class="arrow"></div>
            <div class="clear"></div>
        </div>
        <else />
        <div class="list_height plist-txt notarrow">
            <div class="pic"></div>
            <div class="tit font14">发布人<span class="font_red_light">*</span></div>
            <div class="describe">
                <input type="text" id="contact" name="contact" placeholder="请输入发布人" class="font13" value="{$contact}">
            </div>
            <div class="arrow"></div>
            <div class="clear"></div>
        </div>
        <div class="list_height plist-txt notarrow">
            <div class="pic"></div>
            <div class="tit font14">联系电话<span class="font_red_light">*</span></div>
            <div class="describe">
                <input type="text" id="mobile" name="mobile" placeholder="请输入联系电话" class="font13" value="{$mobile}" disabled>
            </div>
            <div class="arrow"></div>
            <div class="clear"></div>
        </div>
        </eq>
    <else />
    <div class="list_height plist-txt notarrow">
        <div class="pic"></div>
        <div class="tit font14">发布人<span class="font_red_light">*</span></div>
        <div class="describe">
            <input type="text" id="contact" class="font13" value="{$info.contact}" disabled>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    <div class="list_height plist-txt notarrow">
        <div class="pic"></div>
        <div class="tit font14">联系电话<span class="font_red_light">*</span></div>
        <div class="describe">
            <input type="text" id="mobile" class="font13" value="{$mobile}" disabled>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
    </eq>
    
    <div class="btn-spacing">
        <input type="hidden" id="id" value="{$info.id}">
        <input type="hidden" id="contents" value="{$info.contents}">
        <input type="hidden" id="tag" value="{$tagStr.id}">
        <input type="hidden" id="J_captcha_open" value="<if condition="C('qscms_mobile_captcha_open') eq 1 && C('qscms_wap_captcha_config.varify_mobile') eq 1">1<else/>0</if>" />
        <eq name="new_record" value="1">
            <div id="J_release" class="qs-btn qs-btn-blue font18" data-title="发布信息">发布信息</div>
        <else />
            <div id="J_release" class="qs-btn qs-btn-blue font18" data-title="修改信息">修改信息</div>
        </eq>
    </div>
    <div id="pop" style="display:none"></div>
    <input type="hidden" id="btnCheck">
    <div class="split-block"></div>
    <include file="public:footer_min" />
    <script src="../public/js/popWin.js"></script>
    <script src="../public/js/qsCategory.js"></script>
    <script src="../public/js/qsCityUser.js"></script>
    <script src="https://static.geetest.com/static/tools/gt.js"></script>
    <script id="tagWrap" type="text/html">
        <div class="headernavfixed">
            <div class="headernav font18"><div class="title">配套设施<div class="return js-back"></div></div></div>
        </div>
        <div class="split-block"></div>
        <div class="edittag">
            <div id="J_tagWrap">
                <volist name="category['QS_tag']" id="tag">
                    <div class="J_tagPage">
                        <div class="tag <if condition="in_array($key,$tag_val)">select</if>" tid="{$key}" title="{$tag}">{$tag}</div>
                    </div>
                </volist>
            </div>
            <div class="clear"></div>
            <div class="tagbtns">
                <div id="J_savetag" class="qs-btn qs-btn-blue font18">保存</div>
            </div>
        </div>
    </script>
    <!--描述模板-->
    <script type="text/html" id="tpl-describe">
        <div class="headernavfixed">
            <div class="headernav font18"><div class="title">详细描述<div class="return js-back"></div></div></div>
        </div>
        <div class="split-block"></div>
        <div class="job-desc">
            <textarea placeholder="请输入详细描述" id="tpl_contents">{$info['contents']}</textarea>
        </div>
        <div class="job-desc-tip">
            <div class="text-num">最多可输入2000字</div>
            <div class="J_empty text-clear">清空</div>
            <div class="clear"></div>
        </div>
        <div class="btn-spacing">
            <div id="contentsBtn" class="qs-btn qs-btn-blue font18" title="确定">确定</div>
        </div>
    </script>
    <script type="text/javascript">
        $(function(){
            $(".js-showActionSheet").on("click", function(){
                var $iosActionsheet = $(this).closest('.js-actionParent').find('.js-actionsheet');
                var $iosMask = $(this).closest('.js-actionParent').find('.qs-mask');
                $iosActionsheet.removeClass('qs-actionsheet-toggle');
                $iosActionsheet.addClass('qs-actionsheet-toggle');
                $iosMask.fadeIn(200);
                $iosMask.on('click', hideActionSheet);
                $(this).closest('.js-actionParent').find('.js-cancelActionSheet').on('click', hideActionSheet);
                $(this).closest('.js-actionParent').find('.qs-actionsheet-cell').on('click', hideActionSheet);
                function hideActionSheet() {
                    $(this).closest('.js-actionParent').find('.js-actionsheet').removeClass('qs-actionsheet-toggle');
                    $(this).closest('.js-actionParent').find('.qs-mask').fadeOut(200);
                }
            });
        });
        // 验证手机号
        var regularMobile = /^13[0-9]{9}$|14[0-9]{9}$|15[0-9]{9}$|18[0-9]{9}$|17[0-9]{9}$/;
        var regularTelLast = /^-?(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/; // 验证分机号码
        var tagWrap = $('#tagWrap').html();
        $(".J_tag").on('click', function() {
            var $this = $(this),
                baseTxt = $this.text();
            popWin.init({
                from:"right",
                html:tagWrap,
                handle:function(a){
                    var tpl_tagvalueArray = $('#tag').val();
                    $.each(tpl_tagvalueArray.split(','),function(k,v){
                        $('.tag[tid="'+v+'"]').addClass('select');
                    });
                    $('#J_tagWrap .tag,#J_taglist .tag').die().live('click',function(){
                        if($(this).hasClass('select')){
                            $(this).removeClass('select');
                        }else{
                            if($('.tag.select').length >= 6){
                                qsToast({type:2,context: '配套设施最多可以选6项！'});
                                return false;
                            }
                            $(this).addClass('select');
                        }
                    });
                    var n = 0;
                    $('.J_more').on('click',function(){
                        n++;
                        if(n>$('.J_tagPage').length-1){
                            n=0;
                        }
                        $('.J_tagPage').eq(n).removeClass('qs-hidden').siblings().addClass('qs-hidden');
                    });
                    $('#J_savetag').on('click',function(){
                        var tagvalueArray = $('.tag.select').map(function(){
                            return $(this).attr('tid');
                        }).get().join(',');
                        var tagcnvalueArray = $('.tag.select').map(function(){
                            return $(this).attr('title');
                        }).get().join(',');
                        $('#tag').val(tagvalueArray);
                        $('.J_tag').html(tagcnvalueArray);
                        a.close();
                    });
                }
            })
        });
        // 描述
        var describeTemp = $('#tpl-describe').html();
        $(".describeText").on('click', function() {
            var $this = $(this),
                    baseTxt = $this.text();
            popWin.init({
                from:"right",
                html:describeTemp,
                handle:function(a){
                    if ($('#contents').val().length) {
                        $('#tpl_contents').val($('#contents').val());
                    }
                    $('.J_empty').on('click',function(){
                        $('#tpl_contents').val('');
                    });
                    $('#contentsBtn').on('click',function(){
                        /*if ($.trim($('#tpl_contents').val()) == "") {
                            qsToast({type:2,context: '请填写详细描述'});
                            return false;
                        }*/
                        $('#contents').val($('#tpl_contents').val());
                        $('.describeText').html($('#tpl_contents').val());
                        a.close();
                    });
                }
            })
        });

        
        /**
         * 发送手机验证码
         */
        $('#getVerfyCode').on('click', function() {
            if ($(this).hasClass('qs-btn-border-disabled')) return false;
            var mobileValue = $.trim($('input[name=mobile]').val());
            var captcha_open = eval($('#J_captcha_open').val());
            if (mobileValue == '') {
                qsToast({type:2,context: '请输入手机号码'});
                return false;
            }
            if (mobileValue != "" && !regularMobile.test(mobileValue)) {
                qsToast({type:2,context: '手机号码格式不正确'});
                return false;
            }
            if (captcha_open) {
                $('.geetest_panel').remove();
                $.ajax({
                    url: qscms.root+'?m=Mobile&c=Captcha&type=mobile&t=' + (new Date()).getTime(),
                    type: 'get',
                    dataType: 'json',
                    success: function(config) {
                        initGeetest({
                            gt: config.gt,
                            challenge: config.challenge,
                            offline: !config.success, // 表示用户后台检测极验服务器是否宕机
                            new_captcha: config.new_captcha, // 用于宕机时表示是新验证码的宕机
                            product: 'bind'
                        }, function(captchaObj) {
                            captchaObj.appendTo("#pop");
                            captchaObj.onSuccess(function() {
                                var captChaResult = captchaObj.getValidate();
                                $('#getVerfyCode').addClass('qs-btn-border-disabled');
                                $('#getVerfyCode').text('发送中...');
                                var mobileValue = $.trim($('input[name=mobile]').val());
                                $.ajax({
                                    url: "{:U('House/send_sms')}",
                                    cache: false,
                                    async: false,
                                    type: 'post',
                                    dataType: 'json',
                                    data: { sms_type: 'login', mobile: mobileValue,geetest_challenge: captChaResult.geetest_challenge,geetest_validate: captChaResult.geetest_validate,geetest_seccode: captChaResult.geetest_seccode},
                                    success: function(result) {
                                        $('#pop').hide();
                                        qsToast({type:2,context: result.msg});
                                        if (result.status) {
                                            // 开始倒计时
                                            var countdown = 180;
                                            function settime() {
                                                if (countdown == 0) {
                                                    $('#getVerfyCode').removeClass('qs-btn-border-disabled');
                                                    $('#getVerfyCode').text('获取验证码');
                                                    countdown = 180;
                                                    return;
                                                } else {
                                                    $('#getVerfyCode').addClass('qs-btn-border-disabled');
                                                    $('#getVerfyCode').text('重新发送' + countdown + '秒');
                                                    countdown--;
                                                }
                                                setTimeout(function() {
                                                    settime()
                                                },1000)
                                            }
                                            settime();
                                        } else {
                                            $('#getVerfyCode').removeClass('qs-btn-border-disabled');
                                            $('#getVerfyCode').text('获取验证码');
                                            $('#pop').hide();
                                            qsToast({type:2,context: result.msg});
                                        }
                                    }
                                });
                            })
                            captchaObj.onReady(function () {
                                captchaObj.verify();
                            });
                            $('#btnCheck').on('click', function () {
                                captchaObj.verify();
                            })
                            window.captchaObj = captchaObj;
                        });
                    }
                });
            } else {
                sendVerfy();
            }
        })
        /**
         * 发送手机验证码
         */
        function sendVerfy() {
            $('#getVerfyCode').addClass('qs-btn-border-disabled');
            $('#getVerfyCode').text('发送中...');
            var mobileValue = $.trim($('input[name=mobile]').val());
            $.ajax({
                url: "{:U('House/send_sms')}",
                cache: false,
                async: false,
                type: 'post',
                dataType: 'json',
                data: { sms_type: 'login', mobile: mobileValue},
                success: function(result) {
                    $('#pop').hide();
                    qsToast({type:2,context: result.msg});
                    if (result.status) {
                        // 开始倒计时
                        var countdown = 180;
                        function settime() {
                            if (countdown == 0) {
                                $('#getVerfyCode').removeClass('qs-btn-border-disabled');
                                $('#getVerfyCode').text('获取验证码');
                                countdown = 180;
                                return;
                            } else {
                                $('#getVerfyCode').addClass('qs-btn-border-disabled');
                                $('#getVerfyCode').text('重新发送' + countdown + '秒');
                                countdown--;
                            }
                            setTimeout(function() {
                                settime()
                            },1000)
                        }
                        settime();
                    } else {
                        $('#getVerfyCode').removeClass('qs-btn-border-disabled');
                        $('#getVerfyCode').text('获取验证码');
                        $('#pop').hide();
                        qsToast({type:2,context: result.msg});
                    }
                }
            });
        }
        // 发布
        $('#J_release').click(function(){
            var id = $.trim($('#id').val());
            var titleValue = $.trim($('#title').val());
            var identityValue = $.trim($('#identity').val());
            var typeValue = $.trim($('#type').val());
            var district = $.trim($('#district').val());
            var courtNameValue = $.trim($('#court_name').val());
            var address = $.trim($('#address').val());
            var rentValue = $.trim($('#rent').val());
            var payValue = $.trim($('#pay').val());
            var areaValue = $.trim($('#area').val());
            var houseValue = $.trim($('#house').val());
            var totalFloorValue = $.trim($('#total_floor').val());
            var floorValue = $.trim($('#floor').val());
            var tagValue = $.trim($('#tag').val());
            var contents = $.trim($('#contents').val());
            var contactValue = eval("{$new_record}")==1?$.trim($('#contact').val()):"{$info['contact']}";
            var mobileValue = eval("{$new_record}")==1?(eval("{$need_mobile_audit}"==1)?$.trim($('#mobile').val()):"{$mobile}"):"{$mobile}";
            var verifycodeValue = $.trim($('input[name=mobile_vcode]').val());
            if (titleValue == "") {
                qsToast({type:2,context: '请填写信息标题'});
                return false;
            }
            if (identityValue == 0) {
                qsToast({type:2,context: '请选择房源'});
                return false;
            }
            if (typeValue == 0) {
                qsToast({type:2,context: '请选择出租方式'});
                return false;
            }
            if (district == "") {
                qsToast({type:2,context: '请选择所在地区'});
                return false;
            }
            if (courtNameValue == "") {
                qsToast({type:2,context: '请填写小区名称'});
                return false;
            }
            if (address == "") {
                qsToast({type:2,context: '请填写详细位置'});
                return false;
            }
            if (address != "" && address.length > 30) {
                qsToast({type:2,context: '详细地址不能大于30个字'});
                return false;
            }
            if (rentValue == "") {
                qsToast({type:2,context: '请填写月租金'});
                return false;
            }
            if (!regularTelLast.test(rentValue)) {
                qsToast({type:2,context: '月租金应为数字'});
                return false;
            }
            if (payValue == 0) {
                qsToast({type:2,context: '请选择支付方式'});
                return false;
            }
            /*if (areaValue == "") {
                qsToast({type:2,context: '请填写面积'});
                return false;
            }
            if (!regularTelLast.test(areaValue)) {
                qsToast({type:2,context: '使用面积应为数字'});
                return false;
            }*/
            if (houseValue == 0) {
                qsToast({type:2,context: '请选择厅室'});
                return false;
            }
            if (totalFloorValue == 0) {
                qsToast({type:2,context: '请选择总楼层'});
                return false;
            }
            if (floorValue == 0) {
                qsToast({type:2,context: '请选择所在楼层'});
                return false;
            }
            if (contactValue == "") {
                qsToast({type:2,context: '请填写联系人'});
                return false;
            }
            if (contactValue != "" && contactValue.length > 10) {
                qsToast({type:2,context: '联系人1-10个字'});
                return false;
            }
            if (mobileValue != "" && !regularMobile.test(mobileValue)) {
                qsToast({type:2,context: '手机号格式不正确'});
                return false;
            }
            if (verifycodeValue == '' && eval("{$new_record}")==1 && eval("{$need_mobile_audit}")==1) {
                qsToast({type:2,context: '请输入手机验证码'});
                return false;
            }
            $(this).html('正在保存...');
            $(this).addClass('qs-btn-border-disabled');
            $.ajax({
                url: "<eq name='new_record' value='1'>{:U('House/add_rent')}<else />{:U('House/edit_rent')}</eq>",
                type: 'POST',
                dataType: 'json',
                data: {id:id,title: titleValue,identity:identityValue,type:typeValue,district: district,court_name:courtNameValue,address: address, rent: parseInt(rentValue),pay: parseInt(payValue), area: parseInt(areaValue), house: parseInt(houseValue),floor: parseInt(floorValue),total_floor: parseInt(totalFloorValue), tag: tagValue,contents:contents, contact: contactValue, mobile: mobileValue,mobile_vcode:verifycodeValue},
                success:function(result){
                    if (result.status == 1) {
                        qsToast({type:1,context: result.msg});
                        setTimeout(function () {
                            location.href = result.data.url;
                        }, 2000);
                    } else {
                        $("#J_release").html($('#J_release').data('title'));
                        $("#J_release").removeClass('qs-btn-border-disabled');
                        qsToast({type:2,context: result.msg});
                    }
                },
                error:function(){
                    $("#J_release").html($('#J_release').data('title'));
                    $("#J_release").removeClass('qs-btn-border-disabled');
                    qsToast({type:2,context: result.msg});
                }
            });
        });
    </script>
</body>
</html>