<!DOCTYPE html>
<html>
<head>
	<include file="public:meta" />
	<link rel="stylesheet" href="../public/css/house.css">
</head>
<body>
	<include file="public:header" />
    <div class="jobs-manager-top-nav list_height">
        <div class="n-cell active" onclick="window.location='{:U('House/manage',array('type'=>'rent'))}'">房屋出租</div>
        <div class="n-cell" onclick="window.location='{:U('House/manage',array('type'=>'seek'))}'">房屋求租</div>
        <div class="clear"></div>
    </div>
	<div class="split-block"></div>
    <notempty name="infolist">
        <volist name="infolist" id="vo">
        <div class="p-job js-actionParent">
            <div class="info">
                <div class="line-one">
                    <div class="job-name substring">{$vo['title']}</div>
                    <if condition="$vo['audit'] eq 0">
                        <div class="job-status font12 font_yellow">审核中</div>
                        <elseif condition="$vo['audit'] eq 2" />
                        <div class="job-status font12 font_red">审核未通过</div>
                    </if>
                    <div class="clear"></div>
                </div>
                <div class="line-two font12 substring">{$vo['rent']}元/月 | {$vo['house_cn']} | {$vo['court_name']} | {$vo['district_cn']}</div>
                <div class="line-three font12">
                    <div class="pic browse">浏览{$vo['click']|default="0"}次</div>
                    <div class="pic refresh">{:date('Y-m-d H:i',$vo['refreshtime'])}</div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="handler font14">
                <div class="item J_refresh x3" yid="{$vo.id}"><span>刷新</span></div>
                <div class="item x3" onclick="window.location='{:U('House/edit_rent',array('id'=>$vo['id']))}'"><span>修改</span></div>
                <div class="item J_del x3" yid="{$vo.id}"><span class="last">删除</span></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="split-block"></div>
        </volist>
        <div class="qspage">{$page}</div>
    <else />
        <div class="list-empty link_blue">
            您还没有发布的出租信息！<br>
            想要快速出租，就赶紧 <a class="J_add">发布出租信息</a> 吧~
        </div>
    </notempty>
    <div class="btn-spacing">
        <a class="qs-btn qs-btn-blue font18 J_add">发布出租信息</a>
    </div>
	<include file="public:footer_min" />
	<script type="text/javascript">
        // 删除信息
        $('.J_del').on('click',function(){
            var obj = $(this);
            var popout = new QSpopout('删除信息');
            var tip = '被删除后将无法恢复，您确定要删除选中的信息吗？';
            popout.setContent(tip);
            popout.getPrimaryBtn().on('click', function () {
                $.getJSON("{:U('House/delete')}",{id:obj.attr('yid'),type:'rent'},function(result){
                    if(result.status==1){
                        qsToast({type: 1, context: result.msg});
                        setTimeout(function(){
                            window.location.reload();
                        },1000);
                    }else{
                        qsToast({type: 2, context: result.msg});
                        return false;
                    }
                });
            });
            popout.show();
        });
        // 刷新信息
        $('.J_refresh').on('click',function(){
            var obj = $(this);
            $.getJSON("{:U('House/refresh')}",{id:obj.attr('yid'),type:'rent'},function(result){
                if (result.status == 1) {
                    qsToast({type: 1, context: result.msg});
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }else {
                    qsToast({type: 2, context: result.msg});
                    return false;
                }
            });
        });
        // 发布信息
        $('.J_add').on('click',function(){
            var check_url = "{:U('House/check_num',array('type'=>'rent'))}";
            var url = "{:U('House/add_rent')}";
            $.getJSON(check_url,function(result){
                if(result.status == 0){
                    var popout = new QSpopout('发布信息');
                    popout.setContent(result.msg);
                    popout.show();
                }else{
                    window.location.href = url;
                }
            });
        });
	</script>
</body>
</html>