<!DOCTYPE html>
<html>
<head>
    <include file="public:meta"/>
    <link rel="stylesheet" href="../public/css/house.css">
    <qscms:load type="category" search="1"/>
</head>
<body>
<include file="public:header"/>
<div class="add-layer" style="display: none; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
    <div class="J_close"></div>
    <div class="content">
        <div class="title">你要发布哪种信息？</div>
        <a href="javascript:;" data-checkurl="{:U('House/check_num',array('type'=>'rent'))}" data-url="{:U('House/add_rent')}" class="item t1 item_add">房屋出租</a>
        <a href="javascript:;" data-checkurl="{:U('House/check_num',array('type'=>'seek'))}" data-url="{:U('House/add_seek')}" class="item t2 item_add">房屋求租</a>
    </div>
</div>
<div class="top-banner">
    <div class="btns">
        <div class="btn manage" onclick="javascript:location.href='{:U('House/manage',array('type'=>'seek'))}'">管理我的</div>
        <div class="btn publish J_add">免费发布</div>
    </div>
</div>
<div class="jobs-manager-top-nav list_height">
    <div class="n-cell" onclick="window.location='{:U('House/index')}'">房屋出租</div>
    <div class="n-cell active" onclick="window.location='{:U('House/seek')}'">房屋求租</div>
    <div class="clear"></div>
</div>
<div class="split-block-title">
    <div class="sbox">
        <input id="search_key" value="{$Think.get.key|urldecode|urldecode}" type="text" placeholder="请输入房屋信息关键字">
        <div class="btn-so">搜索</div>
    </div>
</div>
<qscms:classify 列表名="city" 类型="QS_citycategory" 地区分类="$_GET['district']" 显示数目="100"/>
<div class="filter-group x3 filter-outer">
    <div id="f-mask"></div>
    <div class="filter-outer">
        <div class="filter-list js-filter qs-temp-new-city" data-tag="0" data-type="city">
            <div class="filter-cell">
                <div class="filter-cell-txt qs-temp-txt-city"><if condition="$Think.get.citycategory neq ''">{$city['select']['categoryname']|default="地区"}<else/>地区</if></div>
            </div>
        </div>
        <div class="filter-list js-filter" data-tag="1">
            <div class="filter-cell">
                <div class="filter-cell-txt f-normal-txt-house">{$category_house[$_GET['house']]|default="房屋厅室"}</div>
            </div>
        </div>
        <div class="filter-list js-filter" data-tag="2">
            <div class="filter-cell">
                <div class="filter-cell-txt f-normal-txt-rent">{$category_rent[$_GET['rent']]|default="月租金"}</div>
            </div>
        </div>
        <div class="clear"></div>
        <form id="searchForm">
            <input type="hidden" class="keyword" name="key" value="{$Think.get.key|urldecode|urldecode}">
            <input type="hidden" class="f-normal-code-house" name="house" value="{$Think.get.house}">
            <input type="hidden" class="f-normal-code-rent" name="rent" value="{$Think.get.rent}">
            <input type="hidden" class="qs-temp-code-city" name="district" value="{$Think.get.district}">
        </form>
        <input type="hidden" class="f-seach-page" value="?m=Mobile&c=House&a=seek&">
    </div>
    <div class="con-filter">
        <div class="f-box f-box-city"></div>
        <div class="f-box f-box-house">
            <div class="f-box-inner">
                <volist name="category_house" id="vo">
                    <li><a class="f-item f-item-normal <if condition="$Think.get.house eq $key">select</if>"
                        href="javascript:;" data-type="house" data-code="{$key}" data-title="{$vo}">{$vo}</a></li>
                </volist>
            </div>
            <div class="f-btn-submit qs-center">
                <div onclick="window.location='{:P(array('house'=>''))}';"
                     class="qs-btn qs-btn-inline qs-btn-medium qs-btn-orange">不限
                </div>
            </div>
        </div>
        <div class="f-box f-box-rent">
            <div class="f-box-inner">
                <volist name="category_rent" id="vo">
                    <li><a class="f-item f-item-normal <if condition="$Think.get.rent eq $key">select</if>"
                        href="javascript:;" data-type="rent" data-code="{$key}" data-title="{$vo}">{$vo}</a></li>
                </volist>
            </div>
            <div class="f-btn-submit qs-center">
                <div onclick="window.location='{:P(array('rent'=>''))}';"
                     class="qs-btn qs-btn-inline qs-btn-medium qs-btn-orange">不限
                </div>
            </div>
        </div>
    </div>
</div>
<notempty name="infolist">
    <volist name="infolist" id="vo">
        <div class="job-list-item for-event" onclick="javascript:location.href='{:U('House/show_seek',array('id'=>$vo['id']))}'">
            <div class="info">
                <div class="line-one">
                    <div class="job-name substring font16">{$vo['title']}</div>
                    <div class="refresh-time font12">{:date('Y-m-d',$vo['refreshtime'])}</div>
                    <div class="clear"></div>
                </div>
                <div class="line-two font14">
                    <div class="rent">{$vo['rent_cn']}/月</div>
                    <div class="clear"></div>
                </div>
                <div class="line-three font13">需求：{$vo['district_cn']}、{$vo['house_cn']}、
                    <switch name="vo.floor">
                        <case value="1">低层</case>
                        <case value="2">中层</case>
                        <case value="3">高层</case>
                        <default />楼层不限
                    </switch>
                </div>
            </div>
        </div>
        <div class="list-split-block"></div>
    </volist>
    <div class="qspage">{$page}</div>
<else />
        <div class="list-split-block"></div>
        <div class="list-empty link_blue">
            抱歉，没有找到符合您条件的求租信息！<br/>
            放宽搜索条件也许有更多合适您的信息哦~
        </div>
</notempty>
<include file="public:footer_min"/>
<script src="../public/js/QSfilter.js"></script>
<script src="../public/js/qsCategory.js"></script>
<script src="../public/js/qsCitySearch.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak={:C('qscms_map_ak')}"></script>
</body>
<script>
    setTimeout(function () {
        var noLimitCityHtml = '<div class="f-btn-submit qs-center"><div class="qs-btn qs-btn-inline qs-btn-medium qs-btn-border-orange" id="j-cate-city" style="margin-right:.25rem;">按地区</div><!--<div class="qs-btn qs-btn-inline qs-btn-medium qs-btn-orange" id="j-cate-range" style="margin-right:.25rem;">附近转让</div>--><div class="qs-btn qs-btn-inline qs-btn-medium qs-btn-orange" id="j-no-limit-city">不限</div></div>';
        $('.f-box-city').append(noLimitCityHtml);
    }, 100)
    $('#j-no-limit-city').die().live('click', function () {
        window.location = "{:P(array('district'=>''))}";
    })
    // 下拉列表
    $('.f-item-normal').on('click', function () {
        var thisType = $(this).data('type');
        var thisTitle = $(this).data('title');
        var thisCode = $(this).data('code');
        $('.f-normal-code-' + thisType).val(thisCode);
        $('.f-normal-txt-' + thisType).text(thisTitle);
        $('body').removeClass('filter-fixed');
        $('.f-box-' + thisType).addClass('qs-hidden');
        $('.js-filter').removeClass('active');
        $('#f-mask').hide();
        goPage();
    });
    // 跳转方法
    function goPage() {
        var toSearchPage = $('.f-seach-page').val();
        window.location.href = qscms.root + toSearchPage + $('#searchForm').serialize();
    }
    // 点击筛选
    $('#f-do-filter').on('click', function () {
        goPage();
    });
    $('.js-filter').on('click', function () {
        var filter = new QSfilter($(this));
        document.getElementById('f-mask').ontouchstart = function (e) {
            e.preventDefault();
        }
    });
    $('.btn-so').on('click',function(){
        $('.keyword').val($('#search_key').val());
        goPage();
    });
    $('.J_add').on('click',function(){
        $('.add-layer').show();
    });
    $('.item_add').on('click',function(){
        var url = $(this).data('url');
        var checkurl = $(this).data('checkurl');
        $.getJSON(checkurl,function(result){
            if(result.status == 0){
                $('.add-layer').hide();
                var popout = new QSpopout('发布信息');
                popout.setContent(result.msg);
                popout.show();
            }else{
                window.location.href=url;
            }
        });
    });
    $('.J_close').on('click',function(){
        $('.add-layer').hide();
    });
</script>
</html>