<div class="dialog_pay font14">
	<div class="paytip">您的套餐内简历下载数已用完，下载该简历需要支付<strong>{:C('qscms_download_resume_price')}</strong>元，请选择支付方式。</div>
	<div class="paybox">
	  	<div class="pli for-event pay-type" data-type="alipay">支付宝支付</div>
	  	<div class="pli last for-event pay-type" data-type="wxpay">微信支付</div>
	  	<div class="clear"></div>
	</div>
	<div class="paybottomtip link_blue font12">购买简历包价格低至<strong>{$discount}</strong>折，<a href="{:U('CompanyService/service_resume')}">立即了解</a></div>
</div>
<script type="text/javascript">
	$('.pay-type').on('click',function(){
		window.location.href=qscms.root+'?m=Mobile&c=CompanyService&a=service_down_resume_one&payment='+$(this).data('type')+'&resume_id={$resume_id}';
	});
</script>