<!DOCTYPE html>
<html>
<head>
	<include file="public:meta" />
	<link rel="stylesheet" href="../public/css/company.css">
</head>
	<body>
	<include file="public:header" />
	<div class="pmsshow-img">
		<div class="pic"><img src="{:attach($company_profile['logo'],'company_logo')}"></div>
		<div class="describe font12">
			<div class="substring tit font14">{$company_profile['companyname']}</div>
			<div class="txt substring">专属客服:{$consultant['name']}</div>
		</div>		   
		<a class="tel for-event" href="tel:{$consultant['tel']}">
			<div class="imgbox"><img src="../public/images/130.png"></div>
			<div class="txt font10">{$consultant['tel']}</div>
		</a>
		<div class="clear"></div>
	</div>
	<div class="split-block"></div>
	<div class="pmsshow-left">
		<div class="pic"><img src="../public/images/206.png"></div>
		<div class="txt">
	        {$msg['message']}
			<div class="times font10">{:date('Y-m-d H:i',$msg['dateline'])}</div>
			<div class="arrow"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="split-block"></div>
	<include file="public:footer_min" /> 
	</body>
</html>