<!DOCTYPE html>
<html>
<head>
<qscms:notice_show 列表名="info" 公告id="$_GET['id']" />
    <include file="public:meta" />
    <link rel="stylesheet" href="../public/css/news.css">
</head>
<body>
<include file="public:header" />

<div class="news-show">
    <h1 class="font18">{$info['title']}</h1>
    <div class="attribute font13">
        <div class="category">分类: {$info['type_cn']}</div>
        <div class="pic page-views" id="clicknum"></div>
        <div class="pic time">{:date('Y-m-d',$info['addtime'])}</div>
        <div class="clear"></div>
    </div>
    <div class="content link_blue">{$info['content']}</div>
</div>
<div class="list-split-block"></div>
<include file="public:footer_min" />
<script type="text/javascript">
    $.getJSON("{:U('AjaxCommon/notice_click')}",{id:"{$info['id']}"},function(result){
        if(result.status==1){
            $("#clicknum").html(result.data);
        }
    });
</script>
</body>
</html>