<!DOCTYPE html>
<html>
	<head>
		<include file="public:meta" />
		<link rel="stylesheet" href="../public/css/personal.css">
		<link rel="stylesheet" href="../public/css/zepto.mdater.css">
	</head>
	<body>
		<include file="public:header"/>
		<div class="list_height plist-txt notarrow">
	        <div class="pic"></div>
	        <div class="tit font14">面试职位</div>
	        <div class="describe font13">
	        	<span class="for-select">{$info['jobs_name']}</span>
	        </div>
	        <div class="arrow"></div>
	        <div class="clear"></div>
	    </div>
	    <div class="list_height plist-txt notarrow">
	        <div class="pic"></div>
	        <div class="tit font14">面试日期</div>
	        <div class="describe font13">
	        	<span class="for-select">{:PA(date('Y/m/d A h:i',$info['interview_time']))}</span>
	        </div>
	        <div class="arrow"></div>
	        <div class="clear"></div>
	    </div>
	    <div class="list_height plist-txt notarrow">
	        <div class="pic"></div>
	        <div class="tit font14">面试地点</div>
	        <div class="describe font13">
	        	<span class="for-select">{$info['address']}</span>
	        </div>
	        <div class="arrow"></div>
	        <div class="clear"></div>
	    </div>
		<div class="split-block"></div>
		<div class="list_height plist-txt notarrow">
	        <div class="pic"></div>
	        <div class="tit font14">联系人</div>
	        <div class="describe font13">
	        	<span class="for-select">{$info['contact']}</span>
	        </div>
	        <div class="arrow"></div>
	        <div class="clear"></div>
	    </div>
		<div class="list_height plist-txt notarrow">
	        <div class="pic"></div>
	        <div class="tit font14">联系电话</div>
	        <div class="describe font13">
	        	<span class="for-select">{$info['telephone']}</span>
	        </div>
	        <div class="arrow"></div>
	        <div class="clear"></div>
	    </div>
	    <div class="list_height plist-txt">
	        <div class="pic"></div>
	        <div class="tit font14">备注</div>
	        <a href="#describe" class="describe font13 notesText">点击查看</a>
	        <div class="arrow"></div>
	        <div class="clear"></div>
	    </div>
	    <div class="split-block"></div>
	    	<script type="text/html" id="tpl-notes">
				<div class="headernavfixed">
					<div class="headernav font18"><div class="title">面试邀请备注<div class="return js-back"></div><div class="rbtn"></div></div></div>
				</div>
				<div class="per-introduce">
					<textarea name="tpl_notes" id="tpl_notes"><if condition="$info['notes']">{$info['notes']}<else />无</if></textarea>
				</div>
				<div class="split-block"></div>
				<div class="btn-spacing">
					<div id="notesBtn" class="qs-btn qs-btn-blue font18" title="返回">返回</div>
				</div>
			</script>
	    <include file="public:footer_min" />
	    <script src="../public/js/popWin.js"></script>
		<script src="../public/js/zepto.mdater.js"></script>
		<script type="text/javascript">
	    	var describeTemp = $('#tpl-notes').html();
	        $(".notesText").on('click', function() {
	            var $this = $(this),
	                baseTxt = $this.text();
	            popWin.init({
	                from:"right",
	                html:describeTemp,
	                handle:function(a){
	                    $('#notesBtn').on('click',function(){
	                        a.close();
	                    });
	                }
	            })
	        });
	    </script>
	</body>
</html>