<!DOCTYPE html>
<html>
<head>
    <include file="public:meta"/>
    <link rel="stylesheet" href="../public/css/personal.css">
</head>
<body>
    <include file="public:header"/>
    <div class="filter-group x2 filter-outer">
        <div id="f-mask"></div>
        <div class="filter-outer">
            <div class="filter-list js-filter" data-tag="0">
                <div class="filter-cell">
	                <div class="filter-cell-txt">
                    <if condition="$Think.get.feedback eq ''">
                        反馈状态
                    <else/>
                        {$feedbackArr[$_GET['feedback']]}
                    </if>
	                </div>
                </div>
            </div>
            <div class="filter-list js-filter" data-tag="1">
                <if condition="$Think.get.settr eq 0">
                    <div class="filter-cell"><div class="filter-cell-txt">查看时间</div></div>
                <else />
                    <switch name="Think.get.settr">
                        <case value="0">
                            <div class="filter-cell"><div class="filter-cell-txt">不限</div></div>
                        </case>
                        <case value="3">
                            <div class="filter-cell"><div class="filter-cell-txt">3天内</div></div>
                        </case>
                        <case value="7">
                            <div class="filter-cell"><div class="filter-cell-txt">7天内</div></div>
                        </case>
                        <case value="15">
                            <div class="filter-cell"><div class="filter-cell-txt">15天内</div></div>
                        </case>
                        <case value="30">
                            <div class="filter-cell"><div class="filter-cell-txt">30天内</div></div>
                        </case>
                    </switch>
                </if>
            </div>
            <div class="clear"></div>
        </div>
        <div class="con-filter">
            <div class="f-box qs-hidden">
                <div class="f-box-inner">
                    <li><a class="f-item <if condition="$Think.get.feedback eq ''">select</if>" href="{:P(array('feedback'=>''))}">全部</a></li>
                    <volist name="feedbackArr" id="feedbackArr">
                        <li><a class="f-item <if condition="$Think.get.feedback eq $key">select</if>" href="{:P(array('feedback'=>$key))}">{$feedbackArr}</a></li>
                    </volist>
                </div>
            </div>
        </div>
        <div class="con-filter">
            <div class="f-box qs-hidden">
                <div class="f-box-inner">
                    <li><a class="f-item <if condition="$Think.get.settr eq '' || $Think.get.settr eq '0'">select</if>" href="{:P(array('settr'=>0))}">全部</a></li>
                    <li><a class="f-item <if condition="$Think.get.settr eq 3">select</if>" href="{:P(array('settr'=>3))}">3天内</a></li>
                    <li><a class="f-item <if condition="$Think.get.settr eq 7">select</if>" href="{:P(array('settr'=>7))}">7天内</a></li>
                    <li><a class="f-item <if condition="$Think.get.settr eq 15">select</if>" href="{:P(array('settr'=>15))}">15天内</a></li>
                    <li><a class="f-item <if condition="$Think.get.settr eq 30">select</if>" href="{:P(array('settr'=>30))}">30天内</a></li>
                </div>
            </div>
        </div>
    </div>
    <div class="split-block"></div>
    <notempty name="apply_list['list']">
        <volist name="apply_list['list']" id="list">
            <if condition="$list['companyname']">
                <div class="list-item js-longpress for-event" data-yid="{$list.did}" onclick="window.location='{$list.jobs_url}'">
                    <div class="content">
                        <div class="line-one">
                            <div class="title substring">{$list.jobs_name}</div>
                            <if condition="$list['personal_look'] eq 1">
                                <div class="right font12 font_red">企业未查看</div>
                            <else/>
                                <switch name="list['is_reply']">
                                    <case value="0">
                                        <div class="right font12 font_yellow">待反馈</div>
                                    </case>
                                    <case value="1">
                                        <div class="right font12 font_green">合适</div>
                                    </case>
                                    <case value="2">
                                        <div class="right font12 font_red">不合适</div>
                                    </case>
                                    <case value="3">
                                        <div class="right font12 font_yellow">待定</div>
                                    </case>
                                    <case value="4">
                                        <div class="right font12 font_red">未接通</div>
                                    </case>
                                </switch>
                            </if>
                            <div class="clear"></div>
                        </div>
                        <div class="line-two font12">
                            <div class="left substring">{$list.companyname}</div>
                            <div class="right font12">{:date('Y-m-d',$list['addtime'])}</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            <else/>
                <div class="list-item js-longpress for-event" data-yid="{$list.did}">
                    <div class="content">
                        <div class="line-two font12">
                            <div class="left">该职位不存在或已被删除</div>
                        </div>
                    </div>
                </div>
            </if>
        </volist>
        <div class="split-block"></div>
        <div class="qspage">{$apply_list['page']}</div>
    <else />
        <if condition="$hasget">
            <div class="list-empty">
                抱歉，没有找到符合您条件的的申请记录！
            </div>
            <else />
            <div class="list-empty link_blue">
                目前您还没有申请过职位！<br />
                建议您主动出击 <a href="{:url_rewrite('QS_jobslist')}">找工作</a>
            </div>
        </if>
    </notempty>
    <include file="public:footer_min" />
    <script src="../public/js/longPress.js"></script>
    <script type="text/javascript">
        $('.js-filter').on('click', function() {
            var filter = new QSfilter($(this));
        });
        // 长按删除
        $('.js-longpress').each(function () {
            var y_id = $(this).data('yid');
            $(this).longPress(function(){
                var popout = new QSpopout();
                popout.setContent('确定删除吗？');
                popout.show();
                popout.getPrimaryBtn().on('click', function () {
                    $.getJSON("{:U('personal/jobs_apply_del')}",{y_id:y_id},function(result){
                        if(result.status == 1){
                            qsToast({type:1,context: result.msg});
                            setTimeout(function () {
                                location.href = "{:U('personal/jobs_apply')}";
                            }, 2000);
                        }else{
                            qsToast({type:2,context: result.msg});
                        }
                    });
                });
            });
        });
    </script>
</body>
</html>