<!DOCTYPE html>
<html>
<head>
    <include file="public:meta"/>
    <link rel="stylesheet" href="../public/css/store.css">
</head>
<body>
<assign name="page_seo['header_title']" value="$info['title']"/>
<include file="public:header"/>

<div class="job-show-top">
  <div class="job-name">
      <div class="td-j-name substring  font18">{$info['title']}</div>
      <div class="clear"></div>
  </div>
  <div class="wage font14"><eq name="info.rent" value="0">租金不限<else/>{$info['rent_cn']}/月</eq></div>
  <div class="city font12">{$info['district_cn']}</div>
  <div class="time font12">{:date('Y-m-d',$info['refreshtime'])}</div>
</div>

<div class="split-block"></div>
<div class="job-show-base">
    <div class="base-title list_height">基本信息</div>
    <div class="info-box">
        <div class="item half substring">经营业态：{$info['category_cn']}</div>
        <div class="item half substring">面积需求：<eq name="info.area" value="0">不限<else/>{$info['area_cn']}</eq></div>
        <div class="item half substring">转让费：<eq name="info.fee" value="0">不限<else/>无</eq></div>
        <div class="item half substring">店铺类型：{$info['engagein_cn']}</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<if condition="$info['tag']">
    <div class="jobsshowtag font14" style="padding-top: 0">
        <div class="tagul">
            <volist name="info['tag']" id="tag">
                <div class="tagli substring tg{$key+1}">{$tag}</div>
            </volist>
            <div class="clear"></div>
        </div>
    </div>
</if>

<div class="split-block"></div>
<div class="job-show-contact">
    <div class="contact-title list_height">联系方式</div>
    <div class="mob">{$info['show_mobile']}（{$info['contact']}）</div>
    <div class="tip font12">签约前切请认真核实求租者信息，谨防上当受骗！</div>
</div>

<notempty name="recommend">
    <div class="split-block"></div>
    <div class="job-show-rec">
        <div class="rec-title list_height">推荐信息
            <div class="right font12 link_gray9"><a href="{:U('Storetenement/index')}">查看更多></a></div>
        </div>
        <volist name="recommend" id="vo">
        <div class="jobs-list">
            <div class="jname font15 link_gray6 substring"><a href="{:U('Storetenement/show',array('id'=>$vo['id']))}">{$vo['title']}</a></div>
            <div class="cate font12 substring">{$vo['category_cn']}| {$vo['district_cn']}</div>
            <div class="wage font13"><eq name="vo.rent" value="0">租金不限<else/>{$vo['rent_cn']}/月</eq></div>
            <div class="time font12">{:date('Y-m-d',$vo['refreshtime'])}</div>
        </div>
        </volist>
    </div>
</notempty>
<div class="job-show-bottom-so link_blue">没有找到满意的信息? <a href="{:U('Storetenement/index')}">立即搜索</a></div>

<div class="split-block-foot-nav"></div>
<div class="job-foot-nav">
    <div class="btns link_gray6">
        <div class="share font9 favor rent"><img src="../public/images/297.png"><br>分享</div>
        <a href="tel:{$info['mobile']}" class="apply rent">拨打电话</a>
        <div class="clear"></div>
    </div>
</div>

<div class="alw-layer"></div>
<div class="alw-wx-layer"></div>
<include file="public:footer_min" />
<script src="../public/js/popWin.js"></script>
<script type="text/javascript" charset="utf-8" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    /* 显示分享 覆盖层 */
    function share() {
        $(".alw-wx-layer").show();
    }
    function share_() {
        $(".alw-layer").show();
    }
    //分享按钮
    $('.share').on('click', function () {
        var agent = navigator.userAgent.toLowerCase();
        if (agent.indexOf('micromessenger') < 0) {
            share_();
        } else {
            share();
        }
    });
    $(".alw-layer, .alw-wx-layer").on("click", function () {
        $(this).hide();
    });
    wx.config({
        // debug: true,
        appId: '{$signPackage.appId}',
        timestamp: '{$signPackage.timestamp}',
        nonceStr: '{$signPackage.nonceStr}',
        signature: '{$signPackage.signature}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            "onMenuShareTimeline",
            "onMenuShareAppMessage",
            "onMenuShareQQ",
            "onMenuShareWeibo"
        ]
    });
    wx.ready(function () {
        var linkUrl = "{:build_mobile_url(array('c'=>'Storetenement','a'=>'show','params'=>'id='.$info['id']))}";//放链接
        var title = "【求租】急求{$info['district_cn']}" + "{$info['area_cn']}㎡" + "的{$info['engagein_cn']}商铺，欢迎推荐！";
        var desc = "{$info['category_cn']}，{$info['contact']}，{$info['mobile']}";
        var imgUrl = "";
        //图片链接
        wx.onMenuShareTimeline({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: linkUrl, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareAppMessage({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: linkUrl, // 分享链接
            imgUrl: imgUrl, // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareQQ({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: linkUrl, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareWeibo({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: linkUrl, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
</body>
</html>